<div class="main-container">
    <app-header></app-header>
    <div class="cb-container">
        <app-sidebar></app-sidebar>
        <div class="cb-col cb-mid-content">
            <div class="cb-mid-left">
                <div class="banner">
                    <div class="img-box">
                        <div></div>
                        <img src="../../../assets/images/horse-banner.png" alt="" />
                    </div>
                    <div class="txt-box">
                        <h3>Terang (aus) 1st Nov</h3>
                        <h5>R8 2180m Pace M</h5>
                    </div>
                </div>
                <div class="sub-nav">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                          <a class="nav-link active" href="#">All</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">R2 1609M PACE M</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">R2 1609M PACE M</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">R2 1609M PACE M</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">R2 1609M PACE M</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">R2 1609M PACE M</a>
                        </li>
                        <li class="nav-item">
                            <a href="#">
                                <img src="../../../assets/images/menu-2.svg" alt="" />
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#">
                                <img src="../../../assets/images/info.svg" alt="" />
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="d-flex justify-content-center flex-wrap pb-5">
                    <div class="popup-container">
                        <div class="popup-content">
                            <div class="popup-header">
                                <div class="inner-popup"></div>
                                <h3 class="cb-date">R2 1609M PACE M</h3>
                            </div>
                            <div class="popup-1-radius"></div>
                            <div class="popup-3-radius"></div>
                            <div class="popup-card d-flex justify-content-center flex-wrap pb-5">
                                <div class="d-flex flex-column" style="border-right: 2px dashed #464646;">
                                    <div class="line">
                                        <div class="card">
                                            <div class="card-left">
                                                <div class="imgbox">
                                                    KKR<!-- <img src="../../../assets/images/kkr.png" alt=""> -->
                                                </div>
                                                <div class="text-box">
                                                    <h3>07</h3>
                                                </div>
                                            </div>
                                            <div class="card-right">
                                                <div class="text-box">
                                                    <h2>Webill Richardson</h2>
                                                    <h3>Tom Jerry</h3>
                                                </div>
                                                <div class="btns">
                                                    <div class="pl-section one">
                                                        <div class="green-btn">
                                                            <h5>1.65</h5>
                                                            <p>52,016</p>
                                                        </div>
                                                        <div class="green-btn active">
                                                            <h5>1.65</h5>
                                                            <p>20,00,000</p>
                                                        </div>
                                                        <div class="green-btn">
                                                            <h5>1.65</h5>
                                                            <p>52,016</p>
                                                        </div>
                                                    </div>
                                                    <div class="pl-section two">
                                                        <div class="pink-btn">
                                                            <h5>3.05</h5>
                                                            <p>52,016</p>
                                                        </div>
                                                        <div class="pink-btn active">
                                                            <h5>3.05</h5>
                                                            <p>20,00,000</p>
                                                        </div>
                                                        <div class="pink-btn">
                                                            <h5>3.05</h5>
                                                            <p>52,016</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="line">
                                        <div class="card">
                                            <div class="card-left">
                                                <div class="imgbox">
                                                    KKR<!-- <img src="../../../assets/images/kkr.png" alt=""> -->
                                                </div>
                                                <div class="text-box">
                                                    <h3>07</h3>
                                                </div>
                                            </div>
                                            <div class="card-right">
                                                <div class="text-box">
                                                    <h2>Webill Richardson</h2>
                                                    <h3>Tom Jerry</h3>
                                                </div>
                                                <div class="btns">
                                                    <div class="pl-section one">
                                                        <div class="green-btn">
                                                            <h5>1.65</h5>
                                                            <p>52,016</p>
                                                        </div>
                                                        <div class="green-btn active">
                                                            <h5>1.65</h5>
                                                            <p>20,00,000</p>
                                                        </div>
                                                        <div class="green-btn">
                                                            <h5>1.65</h5>
                                                            <p>52,016</p>
                                                        </div>
                                                    </div>
                                                    <div class="pl-section two">
                                                        <div class="pink-btn">
                                                            <h5>3.05</h5>
                                                            <p>52,016</p>
                                                        </div>
                                                        <div class="pink-btn active">
                                                            <h5>3.05</h5>
                                                            <p>20,00,000</p>
                                                        </div>
                                                        <div class="pink-btn">
                                                            <h5>3.05</h5>
                                                            <p>52,016</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex flex-column" style="border-right: 2px dashed #464646;">
                                    <div class="line">
                                        <div class="card">
                                            <div class="card-left">
                                                <div class="imgbox">
                                                    KKR<!-- <img src="../../../assets/images/kkr.png" alt=""> -->
                                                </div>
                                                <div class="text-box">
                                                    <h3>07</h3>
                                                </div>
                                            </div>
                                            <div class="card-right">
                                                <div class="text-box">
                                                    <h2>Webill Richardson</h2>
                                                    <h3>Tom Jerry</h3>
                                                </div>
                                                <div class="btns">
                                                    <div class="pl-section one">
                                                        <div class="green-btn">
                                                            <h5>1.65</h5>
                                                            <p>52,016</p>
                                                        </div>
                                                        <div class="green-btn active">
                                                            <h5>1.65</h5>
                                                            <p>20,00,000</p>
                                                        </div>
                                                        <div class="green-btn">
                                                            <h5>1.65</h5>
                                                            <p>52,016</p>
                                                        </div>
                                                    </div>
                                                    <div class="pl-section two">
                                                        <div class="pink-btn">
                                                            <h5>3.05</h5>
                                                            <p>52,016</p>
                                                        </div>
                                                        <div class="pink-btn active">
                                                            <h5>3.05</h5>
                                                            <p>20,00,000</p>
                                                        </div>
                                                        <div class="pink-btn">
                                                            <h5>3.05</h5>
                                                            <p>52,016</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="line">
                                        <div class="card">
                                            <div class="card-left">
                                                <div class="imgbox">
                                                    KKR<!-- <img src="../../../assets/images/kkr.png" alt=""> -->
                                                </div>
                                                <div class="text-box">
                                                    <h3>07</h3>
                                                </div>
                                            </div>
                                            <div class="card-right">
                                                <div class="text-box">
                                                    <h2>Webill Richardson</h2>
                                                    <h3>Tom Jerry</h3>
                                                </div>
                                                <div class="btns">
                                                    <div class="pl-section one">
                                                        <div class="green-btn">
                                                            <h5>1.65</h5>
                                                            <p>52,016</p>
                                                        </div>
                                                        <div class="green-btn active">
                                                            <h5>1.65</h5>
                                                            <p>20,00,000</p>
                                                        </div>
                                                        <div class="green-btn">
                                                            <h5>1.65</h5>
                                                            <p>52,016</p>
                                                        </div>
                                                    </div>
                                                    <div class="pl-section two">
                                                        <div class="pink-btn">
                                                            <h5>3.05</h5>
                                                            <p>52,016</p>
                                                        </div>
                                                        <div class="pink-btn active">
                                                            <h5>3.05</h5>
                                                            <p>20,00,000</p>
                                                        </div>
                                                        <div class="pink-btn">
                                                            <h5>3.05</h5>
                                                            <p>52,016</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex flex-column" style="border-right: 2px dashed #464646;">
                                    <div class="line">
                                        <div class="card">
                                            <div class="card-left">
                                                <div class="imgbox">
                                                    KKR<!-- <img src="../../../assets/images/kkr.png" alt=""> -->
                                                </div>
                                                <div class="text-box">
                                                    <h3>07</h3>
                                                </div>
                                            </div>
                                            <div class="card-right">
                                                <div class="text-box">
                                                    <h2>Webill Richardson</h2>
                                                    <h3>Tom Jerry</h3>
                                                </div>
                                                <div class="btns">
                                                    <div class="pl-section one">
                                                        <div class="green-btn">
                                                            <h5>1.65</h5>
                                                            <p>52,016</p>
                                                        </div>
                                                        <div class="green-btn active">
                                                            <h5>1.65</h5>
                                                            <p>20,00,000</p>
                                                        </div>
                                                        <div class="green-btn">
                                                            <h5>1.65</h5>
                                                            <p>52,016</p>
                                                        </div>
                                                    </div>
                                                    <div class="pl-section two">
                                                        <div class="pink-btn">
                                                            <h5>3.05</h5>
                                                            <p>52,016</p>
                                                        </div>
                                                        <div class="pink-btn active">
                                                            <h5>3.05</h5>
                                                            <p>20,00,000</p>
                                                        </div>
                                                        <div class="pink-btn">
                                                            <h5>3.05</h5>
                                                            <p>52,016</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="line">
                                        <div class="card">
                                            <div class="card-left">
                                                <div class="imgbox">
                                                    KKR<!-- <img src="../../../assets/images/kkr.png" alt=""> -->
                                                </div>
                                                <div class="text-box">
                                                    <h3>07</h3>
                                                </div>
                                            </div>
                                            <div class="card-right">
                                                <div class="text-box">
                                                    <h2>Webill Richardson</h2>
                                                    <h3>Tom Jerry</h3>
                                                </div>
                                                <div class="btns">
                                                    <div class="pl-section one">
                                                        <div class="green-btn">
                                                            <h5>1.65</h5>
                                                            <p>52,016</p>
                                                        </div>
                                                        <div class="green-btn active">
                                                            <h5>1.65</h5>
                                                            <p>20,00,000</p>
                                                        </div>
                                                        <div class="green-btn">
                                                            <h5>1.65</h5>
                                                            <p>52,016</p>
                                                        </div>
                                                    </div>
                                                    <div class="pl-section two">
                                                        <div class="pink-btn">
                                                            <h5>3.05</h5>
                                                            <p>52,016</p>
                                                        </div>
                                                        <div class="pink-btn active">
                                                            <h5>3.05</h5>
                                                            <p>20,00,000</p>
                                                        </div>
                                                        <div class="pink-btn">
                                                            <h5>3.05</h5>
                                                            <p>52,016</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex flex-column">
                                    <div class="line">
                                        <div class="card">
                                            <div class="card-left">
                                                <div class="imgbox">
                                                    KKR<!-- <img src="../../../assets/images/kkr.png" alt=""> -->
                                                </div>
                                                <div class="text-box">
                                                    <h3>07</h3>
                                                </div>
                                            </div>
                                            <div class="card-right">
                                                <div class="text-box">
                                                    <h2>Webill Richardson</h2>
                                                    <h3>Tom Jerry</h3>
                                                </div>
                                                <div class="btns">
                                                    <div class="pl-section one">
                                                        <div class="green-btn">
                                                            <h5>1.65</h5>
                                                            <p>52,016</p>
                                                        </div>
                                                        <div class="green-btn active">
                                                            <h5>1.65</h5>
                                                            <p>20,00,000</p>
                                                        </div>
                                                        <div class="green-btn">
                                                            <h5>1.65</h5>
                                                            <p>52,016</p>
                                                        </div>
                                                    </div>
                                                    <div class="pl-section two">
                                                        <div class="pink-btn">
                                                            <h5>3.05</h5>
                                                            <p>52,016</p>
                                                        </div>
                                                        <div class="pink-btn active">
                                                            <h5>3.05</h5>
                                                            <p>20,00,000</p>
                                                        </div>
                                                        <div class="pink-btn">
                                                            <h5>3.05</h5>
                                                            <p>52,016</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="line">
                                        <div class="card">
                                            <div class="card-left">
                                                <div class="imgbox">
                                                    KKR<!-- <img src="../../../assets/images/kkr.png" alt=""> -->
                                                </div>
                                                <div class="text-box">
                                                    <h3>07</h3>
                                                </div>
                                            </div>
                                            <div class="card-right">
                                                <div class="text-box">
                                                    <h2>Webill Richardson</h2>
                                                    <h3>Tom Jerry</h3>
                                                </div>
                                                <div class="btns">
                                                    <div class="pl-section one">
                                                        <div class="green-btn">
                                                            <h5>1.65</h5>
                                                            <p>52,016</p>
                                                        </div>
                                                        <div class="green-btn active">
                                                            <h5>1.65</h5>
                                                            <p>20,00,000</p>
                                                        </div>
                                                        <div class="green-btn">
                                                            <h5>1.65</h5>
                                                            <p>52,016</p>
                                                        </div>
                                                    </div>
                                                    <div class="pl-section two">
                                                        <div class="pink-btn">
                                                            <h5>3.05</h5>
                                                            <p>52,016</p>
                                                        </div>
                                                        <div class="pink-btn active">
                                                            <h5>3.05</h5>
                                                            <p>20,00,000</p>
                                                        </div>
                                                        <div class="pink-btn">
                                                            <h5>3.05</h5>
                                                            <p>52,016</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cb-mid-right">
                <app-rightsidebar></app-rightsidebar>
            </div>
        </div>
    </div>
</div>