<div class="match-card d-flex flex-column mx-auto justify-content-center align-items-center" routerLink="/match" style="cursor:pointer;">
    <div class="card-radius-top"></div>
    <div class="card-radius-center"></div>
    <div class="card-radius-bottom"></div>

    <div class="card-header d-flex flex-column justify-content-center align-items-center">
        <div class="cb-date">5th Dec</div>
        <div class="cb-time">17:30</div>
    </div>
    
    <div class="teams d-flex justify-content-center align-items-center w-100">
        <div class="d-flex flex-column justify-content-center align-items-center team">
            <div class="title_team_left"><p class="" style="">Kolkata Night riders KKR</p></div>

            <div class="circle" >
                KKR<!-- <img src="../../../assets/images/kkr.png" alt=""> -->
            </div>
        </div>
        <div class="vs-panel d-flex flex-column justify-content-center align-items-center">
            <div class="title" ><p>ICC Women International 2021</p></div>

            <img src="../../../assets/images/bat-ball.svg" alt="">
            <div class="vs" >VS</div>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center team">
            <div class="title_team_right"><p class="">Kolkata Night riders KKR</p></div>
            <div class="circle" >
                DC<!-- <img src="../../../assets/images/dc.png" alt=""> -->
            </div>
        </div>
    </div>
   
    <div class="pl-section">
        <div class="d-flex flex-column justify-content-center align-items-center" >
            <h2>1</h2>
            <button class="green-btn">1.65</button>
            <button class="pink-btn">1.65</button>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center" >
            <h2>X</h2>
            <button class="green-btn">1.65</button>
            <button class="pink-btn">1.65</button>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center" >
            <h2>2</h2>
            <button class="green-btn">1.65</button>
            <button class="pink-btn">1.65</button>
        </div>
    </div>
    <div class="bet-section d-flex justify-content-center align-items-center">
        <div class="d-flex justify-content-center align-items-center">L <sup><span class="notify_icn">10</span></sup>
        </div>
        <div class="d-flex justify-content-center align-items-center">MO</div>
        <div class="d-flex justify-content-center align-items-center">F</div>
        <div class="d-flex justify-content-center align-items-center">BM</div>
        <div class="d-flex justify-content-center align-items-center">M</div>
        <div class="d-flex justify-content-center align-items-center">CM</div>
    </div>
</div>