<div class="score-card py-3">
    <div class="header">
        Inplay
    </div>                        
    <div class="text d-flex justify-content-center align-items-center">
        <div class="d-flex justify-content-center align-items-center" >IPL 2021</div>
    </div>
    <div class="logos d-flex flex-column justify-content-center align-items-center">
        <div class="team ps-2 d-flex justify-content-center align-items-center">
            <div class="d-flex flex-column justify-content-center align-items-center" >
                <div class="circle d-flex justify-content-center align-items-center">
                    KKR<!-- <img src="../../../assets/images/kkr.png" alt=""> -->
                </div>

                <p>KOLKATA KNIGHT RIDERS</p>
            </div>

            <span>VS</span>

            <div class="d-flex flex-column justify-content-center align-items-center" >
                <div class="circle d-flex justify-content-center align-items-center">
                    DC<!-- <img src="../../../assets/images/dc.png" alt=""> -->    
                </div>
                <p>DELHI CAPITALS</p>
            </div>
        </div>
        
        <button class="sm-angel-btn" >
            Bet now
        </button>
    </div>
</div>