.score-card {
    position: relative;
    display: flex;
    width: 210px;
    max-width: 100%;
    // height: 92px;
    height: 110px;
    background: rgba(62, 65, 75, 0.2);
    backdrop-filter: blur(20.2px);
    margin: auto;
    border-radius: 15px;

    .header {
        position: absolute;
        top: calc((110px / 2) - (16px / 2));
        left: calc((54px / 2) * -1);
        color: white;
        width: 71px;
        height: 16px;
        z-index: 1;
        border-bottom-right-radius: 65px;
        border-bottom-left-radius: 65px;
        text-align: center;
        background: linear-gradient(180deg, #3e119e -19.7%, #35127d 125.76%);
        box-shadow: 7.51117e-16px 1px 5px #180c40, inset -3.50521e-16px -5.72444px 5.72444px #281694,
            inset 3.50521e-16px 5.72444px 5.72444px #574cd2;
        font-size: 10px;
        transform: rotateZ(-90deg);
    }
    .text {
        width: 30%;
        font-weight: 600;
        font-size: 11px;
        line-height: 14px;
        letter-spacing: -0.01em;
        text-transform: capitalize;
        color: #656768;
        border-right: 2px dashed #000;

        &::before,
        &::after {
            position: absolute;
            content: "";
            width: 30px;
            height: 30px;
            background: #191c22;
            border-radius: 50%;
            top: calc((30px / 2) * -1);
            left: calc(30% - (32px / 2));
        }
        &::after {
            top: auto;
            bottom: calc((30px / 2) * -1);
        }

        div {
            transform: rotate(-90deg);
        }
    }

    .logos {
        width: calc(100% - 30%);

        .circle {
            width: 35px;
            height: 35px;
            background: #23252e;
            box-shadow: -2px 2px 4px rgba(16, 17, 21, 0.2), 2px -2px 4px rgba(16, 17, 21, 0.2),
                -2px -2px 4px rgba(54, 57, 71, 0.9), 2px 2px 5px rgba(16, 17, 21, 0.9),
                inset 1px 1px 2px rgba(54, 57, 71, 0.3), inset -1px -1px 2px rgba(16, 17, 21, 0.5);
            border-radius: 50%;
            font-weight: 600;

            img {
                width: 23px;
                height: 23px;
                margin: 0px;
            }
        }
        p {
            font-style: normal;
            font-weight: 600;
            font-size: 10px;
            line-height: 14px;
            letter-spacing: -0.01em;
            text-transform: capitalize;
            color: #d7d7d7;
            margin: 2px 0px 0px 0px;
            text-align: center;
        }

        span {
            font-weight: 600;
            font-size: 18px;
            line-height: 23px;
            letter-spacing: -0.01em;
            text-transform: capitalize;
            color: #23b054;
            margin: 0px 12px;
            top: -7px;
            position: relative;
        }

        .sm-angel-btn {
            color: #23b054;
            width: 54px;
            height: 25px;
            white-space: nowrap;
        }
    }
}

@media screen and (max-width: 600px) {
    .score-card {
        width: 90% !important;
        padding: 0px 5px;
    }
}
