<div class="rules-overlay"></div>
<div class="cb-mid-left-container">
    <div class="popup-header2">
        <div class="inner-popup2"></div>
        <h2 class="cb-date2">Rules</h2>
    </div>
    <span class="close-btn" href="#" (click)="hideRules()">
        <img src="../../../assets/images/close.svg" alt="" />
    </span>
    <div class="content">
        <div class="popup-nav">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link active" href="#">General Rules</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">financial markets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">additional rules</a>
                </li>
                <li>
                  <select name="" id="#">
                        <option value="#">specific sports rules</option>
                        <option value="#">
                          <!-- <img src="./images/Running.png" alt="" />  -->
                          <p>athletics</p>
                          <span></span>
                        </option>
                        <option value="#">
                          <!-- <img src="./images/Boxing.png" alt="" />  -->
                            boxing
                        </option>
                        <option value="#">
                          <!-- <img src="./images/Baseball.png" alt="" />  -->
                            baseball
                        </option>
                        <option value="#">
                          <!-- <img src="./images/Basketball.png" alt="" />  -->
                            basketball
                        </option>
                        <option value="#">
                          <!-- <img src="./images/Cycling.png" alt="" />  -->
                            cycling
                        </option>
                        <option value="#">
                          <!-- <img src="./images/ps5.png" alt="" />  -->
                            ps5
                        </option>
                        <!-- <img class="dropdown-icon" src="./images/down-icon.svg
                        " alt="" /> -->
                  </select>
                </li>
            </ul>
        </div>
        <div class="wrap">
            <div class="wrap-content">
                <h3>American Football</h3>
                <br>
                <p>All markets will be settled on the result including overtime unless stated otherwise in these  SATSport247  American Football Rules or in the Market Information (e.g. the half time/full time market) or where the market has been unconditionally determined. If the game results in a tie after overtime all bets on the outright match winner market will be void.</p>
                <br>
                <p>If a match does not start on the scheduled starting date and is not completed within three days of the scheduled completion date, all bets will be void except for those on markets which have been unconditionally determined.</p>
                <br>
                <p>If a match starts but is later abandoned or postponed, then within three days of the scheduled start date:(a) at least 55 minutes of play must have elapsed; or (b) an official result must be 'called' by the relevant governing body; otherwise all bets will be void, except for those on markets which have been unconditionally determined. In those instances, if the scores are tied then all bets on the outright match winner market will be void.</p>
                <br>
                <p>For 'Individual player' markets, bets shall be void on any player who does not start in any down during the match.</p>
                <br>
                <h3>Cricket t20</h3>
                <br>
                <p>All markets will be settled on the result including overtime unless stated otherwise in these  SATSport247  American Football Rules or in the Market Information (e.g. the half time/full time market) or where the market has been unconditionally determined. If the game results in a tie after overtime all bets on the outright match winner market will be void.</p>
            </div>
        </div>
    </div>
</div>