:host {
    display: flex;
}


.dashboard {
    .left-panel {
        .carousel-and-tabs {
            position: relative;
            margin-top: 2px;
            margin-bottom: 18px;
            
            .carousel-tabs {
                position: absolute;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                height: min(max(30px, 4vw), 49px);
                box-shadow: 3px 3px 1px 1px rgba(10, 11, 14, 0.9);
                border-radius: 0px 0px 0px 15px;
                z-index: 1;
                bottom: -2px;
                right: 0;
                width: 100%;
        
                .tab {
                    position: relative;
                    width: min(max(65px, 7vw), 110px);
                    height: min(max(30px, 4vw), 49px);
                    right: min(max(14px, 2vw), 24px);
                    color: white;
                    filter: drop-shadow(0px 0px 2px rgba(50, 54, 60, 1));
    
                    .area {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        width: min(max(80px, 9vw), 134px);
                        height: min(max(30px, 4vw), 49px);
                        padding-left: min(max(16px, 2vw), 24px);
                        background: linear-gradient(134.38deg, #1A1D24 0%, #181B20 109.38%);
                        clip-path: polygon(0 48%, 18% 0, 30% 0, 100% 0%, 100% 0%, 100% 99%, 100% 99%, 1% 99%);
    
                        .title {
                            font-weight: 600;
                            font-size: min(max(8px, 1vw), 14px);
                            line-height: normal;
                            color: #23B054;
                        }
                        .description {
                            font-size: min(max(6px, 1vw), 10px);
                            line-height: normal;
                            color: #E2E2E2;
                        }                  
                    }
                }
            }
        }                
    }  
}


