<div class="dashboard d-flex w-100">
    <div class="left-panel">
        <div class="carousel-and-actions">
            <app-main-container-carousel [slides]="slides"></app-main-container-carousel>
        </div>

        <app-sub-nav [tabs]="subNavTabs" [isCondition]="false"></app-sub-nav>

        <div class="d-flex justify-content-center flex-wrap mt-2 pb-5">
            <div class="row px-0 mx-0">
                <!-- <div class="col-12 px-3 py-4 px-lg-2 mx-0">
                    <h1 class="about_h1">VIP Club</h1>
                </div> -->
                <div class="col-12 pt-4 px-3 px-lg-2 mx-0">
                    <img src="../../../assets/images/Introducing.jpg" class="w-100 pb-4">
                </div>
                <div class="col-12 row px-3 px-lg-2 mx-0">
                    <div>
                        <h2>VIP Club </h2>
                        <p>To the <strong>Very Important Player</strong> at Shaktimaan, we present VIP Club, opening the
                            door
                            to privilege and unparalleled service. It signifies our commitment in providing you the best
                            in rewards & a service you have never experienced before. Play your favorite games at
                            Shaktimaan Games and Shaktimaan Rummy app and leave the rest to your VIP team, your single
                            point of
                            contact on Shaktimaan.</p>
                    </div>
                    <div>
                        <h2>Benefits </h2>
                        <p>To compliment your lifestyle, VIP Club offers you a wide range of privileges. A dedicated VIP
                            Host will be at hand to offer you assistance for your requirements & make sure you get
                            the most in terms of benefits at Shaktimaan. And that's not all. We assure you that more
                            benefits
                            will be added as we go along.</p>
                    </div>
                    <div>
                        <p>VIPs at Shaktimaan enjoy the following benefits:</p>
                        <ul class="list-style">
                            <li>Welcome to VIP Bonus</li>
                            <li>Bespoke Offers</li>
                            <li>Surprise Bonuses</li>
                            <li>Priority VIP Service</li>
                            <li>VIP Only Tournaments</li>
                            <li>Gifts on Special Occasions</li>
                            <li>Invitation to VIP Hospitality</li>
                            <li>Personal VIP Host</li>
                            <li>Complete Account Discretion </li>
                        </ul>

                    </div>
                    <div>
                        <h2>How to Join </h2>
                        <p>VIP Club at Shaktimaan is by invitation only. We periodically review your account activity
                            and
                            should you merit VIP status, we will get in touch with you along with an invitation to the
                            Club. You will then enjoy VIP benefits the Club has to offer. However, if you think you
                            already are a high-roller and fancy your chances, then get in touch with the VIP Team to see
                            if you qualify.</p>
                    </div>

                    <div>
                        <h2>Meet the VIP Hosts</h2>
                        <p>VIP Hosts at Shaktimaan are a young & energetic team of your very own Account Managers who
                            will
                            give you the attention when you need the most. You can be assured of a quick and helpful
                            response to your enquiries, saving you valuable time. VIP Hosts are quite savvy with rummy
                            & its strategies and will be able to relate quickly to what you are talking about. The
                            buzz is incredible within the team and they love meeting & talking to VIPs all the time.
                            They are very friendly & would extend all the help you need on priority. Feel free to
                            get in touch with them & they will ensure you enjoy a lifestyle at Shaktimaan never
                            experienced
                            before.</p>
                    </div>


                    <div>
                        <h2>VIP Testimonials</h2>
                        <p>"Thank you for the lovely choclates. My family loved it a lot. Wishing you and your entire
                            team a very Happy Diwali."</p>
                        <p class="text-end"><span>Username - sushilc,<br><strong>Name - SUSHIL C</strong><br>Location
                                - Mumbai, Maharashtra</span></p>
                    </div><br>
                    <div>
                        <p>"Thank u very much VIP Team. Really very happy for being a member in VIP Club, and receiving
                            such great offers &bonuses. Hope u continue this special feature for a very long time."
                        </p>
                        <p class="text-end"><span>Username - esmanj,<br><strong> Name - SAGAR CJ</strong>, </span></p>
                    </div><br>
                    <div>
                        <p>"Let me just say that I was pleasantly surprised with your Diwali Gift. It's definitely one
                            of the best and coolest gifts I've ever been given. Once again thanks for your Diwali Gift.
                            Wish you Happy Diwali to you and your team"</p>
                        <p class="text-end"><span>Username - dontplaycard,<br><strong>Name - SRINIVAS CG</strong>,
                                <br> Location - Bangalore, Karnataka</span></p>
                    </div><br>
                    <div>
                        <p>"I am very much thankful to you as well as the management of HEAD DIGITAL WORKS Pvt. Ltd for
                            your invaluable and affectionate DIWALI GIFT which I received yesterday. I wish YOU as well
                            as your MANAGEMENT a very happy DIWALI."</p>
                        <p class="text-end"><span>Username - murali789,<br><strong>Name - MURALIKRISHANA
                                    B</strong></span></p>
                    </div><br>
                    <div>
                        <p>"Hi Team Shaktimaan, I am happy about the game/services from you guys. Not just that I am
                            part of
                            the VIP club, your team has always been supportive and took care of all my issues and
                            concerns within less span of time and treated me well all the while. The UI/Offers on the
                            website is an asset. You guys also have good responsible gaming measures which helped me to
                            understand my limitations to play the game. Thank you for everything Shaktimaan."</p>
                        <p class="text-end"> <span>Username - dileepwaves</span></p>
                    </div>

                    <!-- <div> -->
                    <div class="col-xs-12 col-sm-6">
                        <h2>Contact VIP Team</h2>
                        <p><strong> Feel free to get in touch with your <br>
                                Dedicated VIP Host</strong></p>
                        <p>Available: Monday to Saturday<br>
                            Between: 09:30 AM to 06:30 PM</p>
                    </div>
                    <div class="col-xs-12 col-sm-6 text-end">
                        <img width="40px" src="../../../assets/images/email_compose.png">
                        <p><strong>Email: </strong> <br>
                            For Priority Service: <br>
                            <span style="color:blue;">vip@Shaktimaan.com</span>
                        </p>
                    </div>

                    <!-- </div> -->
                    <br><br>
                </div>

            </div>

        </div>

        <app-footer></app-footer>
    </div>
    <div class="right-panel d-none d-md-block">
        <app-promotion-right-panel></app-promotion-right-panel>
    </div>
</div>