.best-slip-card {
    position: relative;
	display: flex;
	width: 264px;
    max-width: 100%;
	height: 105px;
	background: rgba(62, 65, 75, 0.2);
    backdrop-filter: blur(80px);
	margin: auto;
	border-radius: 15px;
	
	.title {
		width: 30%;
		font-weight: 600;
        font-size: 11px;
        line-height: 14px;
        // padding-left: 14px;
        letter-spacing: -0.01em;
        text-transform: capitalize;
        color: #656768;        

		&::before, &::after {
			position: absolute;
			content: '';
			width: 30px;
			height: 30px;
			background: #25262C;
			border-radius: 50%;
			top: calc((30px / 2) * -1);
			left: calc(30% - (48px / 2));
            z-index: 2;
		}
		&::after {
			top: auto;
			bottom: calc((30px / 2) * -1);
		}		
        
        .circle {
            position: relative;
            width: 35px;
            height: 35px;
            background: #23252E;
            box-shadow: -2px 2px 4px rgba(16, 17, 21, 0.2), 2px -2px 4px rgba(16, 17, 21, 0.2), -2px -2px 4px rgba(54, 57, 71, 0.9), 2px 2px 5px rgba(16, 17, 21, 0.9), inset 1px 1px 2px rgba(54, 57, 71, 0.3), inset -1px -1px 2px rgba(16, 17, 21, 0.5);
            border-radius: 50%;

            img {
                width: 23px;
                height: 23px;
                margin: 0px;
            }

        }
	}

	.details {
        position: relative;
        width: calc(100% - 30%);
        padding: 8px  16px;
        
        &.green {
            &::before {
                background: #1D2A1F;
                box-shadow: 1px 1px 2px rgba(45, 65, 48, 0.3), -1px -1px 2px rgba(13, 19, 14, 0.5), inset -1px 1px 2px rgba(13, 19, 14, 0.2), inset 1px -1px 2px rgba(13, 19, 14, 0.2), inset -1px -1px 2px rgba(45, 65, 48, 0.9), inset 1px 1px 3px rgba(13, 19, 14, 0.9);
            }
        }
        
        &.pink {
            &::before {
                background: #390E5A;
                box-shadow: 1px 1px 2px rgba(45, 65, 48, 0.3), -1px -1px 2px rgba(13, 19, 14, 0.5), inset -1px 1px 2px rgba(13, 19, 14, 0.2), inset 1px -1px 2px rgba(13, 19, 14, 0.2), inset -1px -1px 2px rgba(45, 65, 48, 0.9), inset 1px 1px 3px rgba(13, 19, 14, 0.9);
            }
        }

        &::before {
			position: absolute;
			content: '';
            left: -15px;
            top: 0;
            width: 15px;
            height: 100%;
            z-index: 1;
            
		}

        .type {
            width: 29px;
            height: 21px;
            border: 1px solid #214E39;
            color: #23B054;
            font-size: 11px;
            line-height: 0px;
            text-transform: capitalize;
            border-radius: 4px;
        }

        .date-time {
            font-size: 10px;
            letter-spacing: -0.01em;
            text-transform: capitalize;
            color: #949494;
        }

        .title-btn {
            .header {
                font-weight: 600;
                font-size: 11px;
                letter-spacing: -0.01em;
                text-transform: capitalize;
                color: #D7D7D7;
            }

            .action-btn {
                min-width: 35px;
                height: 26px;
                background: #1E252A;
                box-shadow: -1px 1px 2px rgba(12, 15, 17, 0.2), 1px -1px 2px rgba(12, 15, 17, 0.2), -1px -1px 2px rgba(48, 59, 67, 0.9), 1px 1px 3px rgba(12, 15, 17, 0.9), inset 1px 1px 2px rgba(48, 59, 67, 0.3), inset -1px -1px 2px rgba(12, 15, 17, 0.5);
                font-weight: 600;
                font-size: 11px;
                letter-spacing: -0.01em;
                text-transform: capitalize;
                color: #23B054;
                border-radius: 4px;
            }
        }
    }
}
