<div class="dashboard d-flex w-100">
    <div class="left-panel">
        <div class="carousel-and-actions">
            <app-main-container-carousel [slides]="slides"></app-main-container-carousel>
        </div>

        <app-sub-nav [tabs]="subNavTabs" [isCondition]="false"></app-sub-nav>

        <div class="d-flex justify-content-center flex-wrap mt-2 pb-5">
          
            <div class="row px-0 mx-0">
                <!-- <div class="col-12 px-3 py-4 px-lg-2 mx-0">
                    <h1>Welcome Bonus</h1>
                </div> -->
                <div class="col-12 px-3 pt-4 px-lg-2 mx-0">
                    <img class="w-100 pb-4" src="../../../assets/images/Welcome-Bonus.jpg">
                    <div class="py-3">
                        <p>On Shaktimaan Games, this season promises to be more fun and exciting than ever before. Why wait?
                            Start off your journey with bonus code: WELCOME300 and get rewarded at Shaktimaan.Make your first
                            cash addition today and claim a 300% Welcome Bonus up to ₹10,000*. Offer valid to apply only
                            on first cash additions till the 31st March 2022 @ 11:59 PM.</p>
                        <p><b>Special Promotion: </b> Add Cash Today & Get up to ₹ 250 + 300%* of Added Cash Amount
                            FREE on your first cash addition. Refer to Terms & Conditions for more info</p>
                    </div>
                    <div class="table-responsive">
                        <div class="table py-4">
                            <table>
                                <tbody>
                                    <tr class="center">
                                        <th><strong>Add Cash Amount </strong></th>
                                        <th><strong>Get Bonus</strong></th>
                                        <th><strong>Max Bonus Issued</strong></th>
                                        <th><strong>Instant Cash</strong></th>
                                    </tr>
                                    <tr>
                                        <td>₹25 - ₹299</td>
                                        <td>80%</td>
                                        <td>₹ 239</td>
                                        <td>₹ 5</td>
                                    </tr>
                                    <tr>
                                        <td>₹300 - ₹499</td>
                                        <td>120%</td>
                                        <td>₹ 599</td>
                                        <td>₹ 75</td>
                                    </tr>
                                    <tr>
                                        <td>₹500 - ₹999</td>
                                        <td>150%</td>
                                        <td>₹ 1499</td>
                                        <td>₹ 100</td>
                                    </tr>
                                    <tr>
                                        <td>₹1000 - ₹2999</td>
                                        <td>200%</td>
                                        <td>₹ 5998</td>
                                        <td>₹ 125</td>
                                    </tr>
                                    <tr>
                                        <td>₹3000 - ₹10000</td>
                                        <td>300%</td>
                                        <td>₹ 10000</td>
                                        <td>₹ 250</td>
                                    </tr>


                                </tbody>
                            </table>

                        </div>
                    </div>

                    <p>T&C <strong> <span>WELCOME300</span> </strong></p>
                    <ul class="list-style">
                        <li>Valid for only Regular players converting to Premium for the first time</li>
                        <li>Is valid only for the first cash addition of minimum ₹25 </li>
                        <li>Upto ₹250 free Real Chips will be instantly added as a bonus to player's account </li>
                        <li>The bonus amount and Instant cash being added to the user's account depends upon the first
                            cash addition amount of the player </li>
                        <li>Max Bonus Issue will be ₹10,000/-. E.g., for a 30,000 real chips added, the Bonus issue will
                            be 10,000 real chips </li>
                        <li>20 real chips will be automatically credited to player's account for every 200 real chips
                            used for playing (i.e. you get 20 real chips when you play 2 games of 100 chips, 8 games of
                            25 chips or 40 games of 5 chips) </li>
                        <li>The Bonus Issued will have a 30-day expiry from the date it is issued </li>
                        <li>No multiple accounts for the same player allowed. If found all bonus added will be canceled
                        </li>
                        <li><b>WELCOME300</b> shall be auto-populated for the player while adding cash </li>
                        <li>Limited time offer, Valid till 31st March 2022 @ 11:59 PM. Conditions apply* </li>
                    </ul>
                </div>

            </div>

        </div>

        <app-footer></app-footer>
    </div>
    <div class="right-panel d-none d-md-block">
        <app-promotion-right-panel></app-promotion-right-panel>
    </div>
</div>