<div class="modal-body scooped-corners">
    <div class="inner-body inner-scooped-corners">
        <div class="header">
            <div class="heder-bg">
                <h4>Run Position</h4>
            </div>
        </div>
        <div class="content">
            
            <div class="row align-items-center modal_wrapper">
                <div class="col-12">
                    <!-- <h4 class="title mb-3">Welcome</h4> -->
                    <table>
                        <tr>
                            <th>Run</th>
                            <th>Value</th>
                        </tr>
                        <tr>
                            <td>-4</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td>-4</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td>-4</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td>-4</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td>-4</td>
                            <td>20</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="text-center mt-4">
                <button type="button" class="btn dark-btn" (click)="activeModal.dismiss()">Close</button>
            </div>
        </div>
    </div>
</div>