<div class="casino-right-panel-container">
    <div class="box">       
        <div class="tab-wrapper">
            <div class="tab-header d-flex justify-content-center align-items-center">Betslips</div>
        </div>

        <app-best-slip-card class="mb-3" ></app-best-slip-card>
        <app-best-slip-card type="pink" class="mb-3" ></app-best-slip-card>
    </div>
    
    <div class="box">
        <div class="tab-wrapper">
            <div class="tab-header d-flex justify-content-center align-items-center">Providers</div>
        </div>

        <div class="d-flex flex-wrap justify-content-between align-items-center cards w-100">
            <div class="card d-flex justify-content-center align-items-center" >
                <div class="card-radius-top"></div>
                <div class="card-radius-center"></div>
                <div class="card-radius-bottom"></div>
                <img src="../../../assets/images/ezugi.png" alt="" />
            </div>
           
            <div class="card d-flex justify-content-center align-items-center" >
                <div class="card-radius-top"></div>
                <div class="card-radius-center"></div>
                <div class="card-radius-bottom"></div>
                <img src="../../../assets/images/ezugi.png" alt="" />
            </div>

            <div class="card d-flex justify-content-center align-items-center" >
                <div class="card-radius-top"></div>
                <div class="card-radius-center"></div>
                <div class="card-radius-bottom"></div>
                <img src="../../../assets/images/ezugi.png" alt="" />
            </div>

            <div class="card d-flex justify-content-center align-items-center" >
                <div class="card-radius-top"></div>
                <div class="card-radius-center"></div>
                <div class="card-radius-bottom"></div>
                <img src="../../../assets/images/ezugi.png" alt="" />
            </div>

            <div class="card d-flex justify-content-center align-items-center" >
                <div class="card-radius-top"></div>
                <div class="card-radius-center"></div>
                <div class="card-radius-bottom"></div>
                <img src="../../../assets/images/ezugi.png" alt="" />
            </div>

            <div class="card d-flex justify-content-center align-items-center" >
                <div class="card-radius-top"></div>
                <div class="card-radius-center"></div>
                <div class="card-radius-bottom"></div>
                <img src="../../../assets/images/ezugi.png" alt="" />
            </div>

            <div class="card d-flex justify-content-center align-items-center" >
                <div class="card-radius-top"></div>
                <div class="card-radius-center"></div>
                <div class="card-radius-bottom"></div>
                <img src="../../../assets/images/ezugi.png" alt="" />
            </div>

            <div class="card d-flex justify-content-center align-items-center" >
                <div class="card-radius-top"></div>
                <div class="card-radius-center"></div>
                <div class="card-radius-bottom"></div>
                <img src="../../../assets/images/ezugi.png" alt="" />
            </div>

            <div class="card d-flex justify-content-center align-items-center" >
                <div class="card-radius-top"></div>
                <div class="card-radius-center"></div>
                <div class="card-radius-bottom"></div>
                <img src="../../../assets/images/ezugi.png" alt="" />
            </div>

            <div class="card d-flex justify-content-center align-items-center" >
                <div class="card-radius-top"></div>
                <div class="card-radius-center"></div>
                <div class="card-radius-bottom"></div>
                <img src="../../../assets/images/ezugi.png" alt="" />
            </div>
        </div>
    </div>
</div>