<div class="dashboard d-flex w-100">
    <div class="left-panel">
        <div class="carousel-and-actions">
            <app-main-container-carousel [slides]="slides"></app-main-container-carousel>
        </div>

        <app-sub-nav [tabs]="subNavTabs" [isCondition]="false"></app-sub-nav>

        <div class="d-flex justify-content-center flex-wrap mt-2 pb-5">
            <!--  <div class="popup-container">
                <div class="popup-content">
                    <div class="popup-header">
                        <div class="inner-popup"></div>
                        <h2 class="cb-date">Redeem Now</h2>
                    </div>
                    <div class="popup-1-radius"></div>
                    <div class="popup-2-radius"></div>
                    <div class="popup-3-radius"></div>
                    <div class="popup-4-radius"></div>
                    <div class="popup-5-radius"></div>
                    <div class="popup-6-radius"></div>
                    <div class="inner-content">
                        <h1>Get <p>2% Bonus</p> on</h1>
                        <h1>every deposit</h1>
                        <h3>Promo Code : F2</h3>
                        <div class="btn-box">
                            <button (click)="showRules()">Rules</button>
                            <h5>Terms & Condition</h5>
                        </div>
                        <ul>
                            <li>
                                <p>5% of your bonus amount can be claimed per bet.</p>
                            </li>
                            <li>
                                <p>Maximum 100 bonus amount can be claimed per bet.</p>
                            </li>
                            <li>
                                <p>Members are not permitted to hold multiple accounts. This includes holding an account with any associated site operating on the same platform as this site.</p>
                            </li>
                            <li>
                                <p>Every bonus has an expiry date, claim it before you loose it.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="popup-container two">
                <div class="popup-content">
                    <div class="popup-header">
                        <div class="inner-popup"></div>
                        <h2 class="cb-date">Redeem Now</h2>
                    </div>
                    <div class="popup-1-radius"></div>
                    <div class="popup-2-radius"></div>
                    <div class="popup-3-radius"></div>
                    <div class="popup-4-radius"></div>
                    <div class="popup-5-radius"></div>
                    <div class="popup-6-radius"></div>
                    <div class="inner-content">
                        <h1>Get <p>2% Bonus</p> on</h1>
                        <h1>every deposit</h1>
                        <h3>Promo Code : F2</h3>
                        <div class="btn-box">
                            <button (click)="showRules()">Rules</button>
                            <h5>Terms & Condition</h5>
                        </div>
                        <ul>
                            <li>
                                <p>5% of your bonus amount can be claimed per bet.</p>
                            </li>
                            <li>
                                <p>Maximum 100 bonus amount can be claimed per bet.</p>
                            </li>
                            <li>
                                <p>Members are not permitted to hold multiple accounts. This includes holding an account with any associated site operating on the same platform as this site.</p>
                            </li>
                            <li>
                                <p>Every bonus has an expiry date, claim it before you loose it.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="popup-container three">
                <div class="popup-content">
                    <div class="popup-header">
                        <div class="inner-popup"></div>
                        <h2 class="cb-date">Redeem Now</h2>
                    </div>
                    <div class="popup-1-radius"></div>
                    <div class="popup-2-radius"></div>
                    <div class="popup-3-radius"></div>
                    <div class="popup-4-radius"></div>
                    <div class="popup-5-radius"></div>
                    <div class="popup-6-radius"></div>
                    <div class="inner-content">
                        <h1>Get <p>2% Bonus</p> on</h1>
                        <h1>every deposit</h1>
                        <h3>Promo Code : F2</h3>
                        <div class="btn-box">
                            <button (click)="showRules()">Rules</button>
                            <h5>Terms & Condition</h5>
                        </div>
                        <ul>
                            <li>
                                <p>5% of your bonus amount can be claimed per bet.</p>
                            </li>
                            <li>
                                <p>Maximum 100 bonus amount can be claimed per bet.</p>
                            </li>
                            <li>
                                <p>Members are not permitted to hold multiple accounts. This includes holding an account with any associated site operating on the same platform as this site.</p>
                            </li>
                            <li>
                                <p>Every bonus has an expiry date, claim it before you loose it.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="popup-container">
                <div class="popup-content">
                    <div class="popup-header">
                        <div class="inner-popup"></div>
                        <h2 class="cb-date">Redeem Now</h2>
                    </div>
                    <div class="popup-1-radius"></div>
                    <div class="popup-2-radius"></div>
                    <div class="popup-3-radius"></div>
                    <div class="popup-4-radius"></div>
                    <div class="popup-5-radius"></div>
                    <div class="popup-6-radius"></div>
                    <div class="inner-content">
                        <h1>Get <p>2% Bonus</p> on</h1>
                        <h1>every deposit</h1>
                        <h3>Promo Code : F2</h3>
                        <div class="btn-box">
                            <button (click)="showRules()">Rules</button>
                            <h5>Terms & Condition</h5>
                        </div>
                        <ul>
                            <li>
                                <p>5% of your bonus amount can be claimed per bet.</p>
                            </li>
                            <li>
                                <p>Maximum 100 bonus amount can be claimed per bet.</p>
                            </li>
                            <li>
                                <p>Members are not permitted to hold multiple accounts. This includes holding an account with any associated site operating on the same platform as this site.</p>
                            </li>
                            <li>
                                <p>Every bonus has an expiry date, claim it before you loose it.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="popup-container two">
                <div class="popup-content">
                    <div class="popup-header">
                        <div class="inner-popup"></div>
                        <h2 class="cb-date">Redeem Now</h2>
                    </div>
                    <div class="popup-1-radius"></div>
                    <div class="popup-2-radius"></div>
                    <div class="popup-3-radius"></div>
                    <div class="popup-4-radius"></div>
                    <div class="popup-5-radius"></div>
                    <div class="popup-6-radius"></div>
                    <div class="inner-content">
                        <h1>Get <p>2% Bonus</p> on</h1>
                        <h1>every deposit</h1>
                        <h3>Promo Code : F2</h3>
                        <div class="btn-box">
                            <button (click)="showRules()">Rules</button>
                            <h5>Terms & Condition</h5>
                        </div>
                        <ul>
                            <li>
                                <p>5% of your bonus amount can be claimed per bet.</p>
                            </li>
                            <li>
                                <p>Maximum 100 bonus amount can be claimed per bet.</p>
                            </li>
                            <li>
                                <p>Members are not permitted to hold multiple accounts. This includes holding an account with any associated site operating on the same platform as this site.</p>
                            </li>
                            <li>
                                <p>Every bonus has an expiry date, claim it before you loose it.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="popup-container three">
                <div class="popup-content">
                    <div class="popup-header">
                        <div class="inner-popup"></div>
                        <h2 class="cb-date">Redeem Now</h2>
                    </div>
                    <div class="popup-1-radius"></div>
                    <div class="popup-2-radius"></div>
                    <div class="popup-3-radius"></div>
                    <div class="popup-4-radius"></div>
                    <div class="popup-5-radius"></div>
                    <div class="popup-6-radius"></div>
                    <div class="inner-content">
                        <h1>Get <p>2% Bonus</p> on</h1>
                        <h1>every deposit</h1>
                        <h3>Promo Code : F2</h3>
                        <div class="btn-box">
                            <button (click)="showRules()">Rules</button>
                            <h5>Terms & Condition</h5>
                        </div>
                        <ul>
                            <li>
                                <p>5% of your bonus amount can be claimed per bet.</p>
                            </li>
                            <li>
                                <p>Maximum 100 bonus amount can be claimed per bet.</p>
                            </li>
                            <li>
                                <p>Members are not permitted to hold multiple accounts. This includes holding an account with any associated site operating on the same platform as this site.</p>
                            </li>
                            <li>
                                <p>Every bonus has an expiry date, claim it before you loose it.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="popup-container">
                <div class="popup-content">
                    <div class="popup-header">
                        <div class="inner-popup"></div>
                        <h2 class="cb-date">Redeem Now</h2>
                    </div>
                    <div class="popup-1-radius"></div>
                    <div class="popup-2-radius"></div>
                    <div class="popup-3-radius"></div>
                    <div class="popup-4-radius"></div>
                    <div class="popup-5-radius"></div>
                    <div class="popup-6-radius"></div>
                    <div class="inner-content">
                        <h1>Get <p>2% Bonus</p> on</h1>
                        <h1>every deposit</h1>
                        <h3>Promo Code : F2</h3>
                        <div class="btn-box">
                            <button (click)="showRules()">Rules</button>
                            <h5>Terms & Condition</h5>
                        </div>
                        <ul>
                            <li>
                                <p>5% of your bonus amount can be claimed per bet.</p>
                            </li>
                            <li>
                                <p>Maximum 100 bonus amount can be claimed per bet.</p>
                            </li>
                            <li>
                                <p>Members are not permitted to hold multiple accounts. This includes holding an account with any associated site operating on the same platform as this site.</p>
                            </li>
                            <li>
                                <p>Every bonus has an expiry date, claim it before you loose it.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="popup-container two">
                <div class="popup-content">
                    <div class="popup-header">
                        <div class="inner-popup"></div>
                        <h2 class="cb-date">Redeem Now</h2>
                    </div>
                    <div class="popup-1-radius"></div>
                    <div class="popup-2-radius"></div>
                    <div class="popup-3-radius"></div>
                    <div class="popup-4-radius"></div>
                    <div class="popup-5-radius"></div>
                    <div class="popup-6-radius"></div>
                    <div class="inner-content">
                        <h1>Get <p>2% Bonus</p> on</h1>
                        <h1>every deposit</h1>
                        <h3>Promo Code : F2</h3>
                        <div class="btn-box">
                            <button (click)="showRules()">Rules</button>
                            <h5>Terms & Condition</h5>
                        </div>
                        <ul>
                            <li>
                                <p>5% of your bonus amount can be claimed per bet.</p>
                            </li>
                            <li>
                                <p>Maximum 100 bonus amount can be claimed per bet.</p>
                            </li>
                            <li>
                                <p>Members are not permitted to hold multiple accounts. This includes holding an account with any associated site operating on the same platform as this site.</p>
                            </li>
                            <li>
                                <p>Every bonus has an expiry date, claim it before you loose it.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="popup-container three">
                <div class="popup-content">
                    <div class="popup-header">
                        <div class="inner-popup"></div>
                        <h2 class="cb-date">Redeem Now</h2>
                    </div>
                    <div class="popup-1-radius"></div>
                    <div class="popup-2-radius"></div>
                    <div class="popup-3-radius"></div>
                    <div class="popup-4-radius"></div>
                    <div class="popup-5-radius"></div>
                    <div class="popup-6-radius"></div>
                    <div class="inner-content">
                        <h1>Get <p>2% Bonus</p> on</h1>
                        <h1>every deposit</h1>
                        <h3>Promo Code : F2</h3>
                        <div class="btn-box">
                            <button (click)="showRules()">Rules</button>
                            <h5>Terms & Condition</h5>
                        </div>
                        <ul>
                            <li>
                                <p>5% of your bonus amount can be claimed per bet.</p>
                            </li>
                            <li>
                                <p>Maximum 100 bonus amount can be claimed per bet.</p>
                            </li>
                            <li>
                                <p>Members are not permitted to hold multiple accounts. This includes holding an account with any associated site operating on the same platform as this site.</p>
                            </li>
                            <li>
                                <p>Every bonus has an expiry date, claim it before you loose it.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="popup-container">
                <div class="popup-content">
                    <div class="popup-header">
                        <div class="inner-popup"></div>
                        <h2 class="cb-date">Redeem Now</h2>
                    </div>
                    <div class="popup-1-radius"></div>
                    <div class="popup-2-radius"></div>
                    <div class="popup-3-radius"></div>
                    <div class="popup-4-radius"></div>
                    <div class="popup-5-radius"></div>
                    <div class="popup-6-radius"></div>
                    <div class="inner-content">
                        <h1>Get <p>2% Bonus</p> on</h1>
                        <h1>every deposit</h1>
                        <h3>Promo Code : F2</h3>
                        <div class="btn-box">
                            <button (click)="showRules()">Rules</button>
                            <h5>Terms & Condition</h5>
                        </div>
                        <ul>
                            <li>
                                <p>5% of your bonus amount can be claimed per bet.</p>
                            </li>
                            <li>
                                <p>Maximum 100 bonus amount can be claimed per bet.</p>
                            </li>
                            <li>
                                <p>Members are not permitted to hold multiple accounts. This includes holding an account with any associated site operating on the same platform as this site.</p>
                            </li>
                            <li>
                                <p>Every bonus has an expiry date, claim it before you loose it.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="popup-container two">
                <div class="popup-content">
                    <div class="popup-header">
                        <div class="inner-popup"></div>
                        <h2 class="cb-date">Redeem Now</h2>
                    </div>
                    <div class="popup-1-radius"></div>
                    <div class="popup-2-radius"></div>
                    <div class="popup-3-radius"></div>
                    <div class="popup-4-radius"></div>
                    <div class="popup-5-radius"></div>
                    <div class="popup-6-radius"></div>
                    <div class="inner-content">
                        <h1>Get <p>2% Bonus</p> on</h1>
                        <h1>every deposit</h1>
                        <h3>Promo Code : F2</h3>
                        <div class="btn-box">
                            <button (click)="showRules()">Rules</button>
                            <h5>Terms & Condition</h5>
                        </div>
                        <ul>
                            <li>
                                <p>5% of your bonus amount can be claimed per bet.</p>
                            </li>
                            <li>
                                <p>Maximum 100 bonus amount can be claimed per bet.</p>
                            </li>
                            <li>
                                <p>Members are not permitted to hold multiple accounts. This includes holding an account with any associated site operating on the same platform as this site.</p>
                            </li>
                            <li>
                                <p>Every bonus has an expiry date, claim it before you loose it.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="popup-container three">
                <div class="popup-content">
                    <div class="popup-header">
                        <div class="inner-popup"></div>
                        <h2 class="cb-date">Redeem Now</h2>
                    </div>
                    <div class="popup-1-radius"></div>
                    <div class="popup-2-radius"></div>
                    <div class="popup-3-radius"></div>
                    <div class="popup-4-radius"></div>
                    <div class="popup-5-radius"></div>
                    <div class="popup-6-radius"></div>
                    <div class="inner-content">
                        <h1>Get <p>2% Bonus</p> on</h1>
                        <h1>every deposit</h1>
                        <h3>Promo Code : F2</h3>
                        <div class="btn-box">
                            <button (click)="showRules()">Rules</button>
                            <h5>Terms & Condition</h5>
                        </div>
                        <ul>
                            <li>
                                <p>5% of your bonus amount can be claimed per bet.</p>
                            </li>
                            <li>
                                <p>Maximum 100 bonus amount can be claimed per bet.</p>
                            </li>
                            <li>
                                <p>Members are not permitted to hold multiple accounts. This includes holding an account with any associated site operating on the same platform as this site.</p>
                            </li>
                            <li>
                                <p>Every bonus has an expiry date, claim it before you loose it.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div> -->

        </div>

        <app-footer></app-footer>
    </div>
    <div class="right-panel d-none d-md-block">
        <app-promotion-right-panel></app-promotion-right-panel>
    </div>
</div>