<div class="dashboard d-flex w-100">
    <div class="left-panel">
        <div class="carousel-and-actions">
            <app-main-container-carousel [slides]="slides"></app-main-container-carousel>
        </div>

        <app-sub-nav [tabs]="subNavTabs" [isCondition]="false"></app-sub-nav>

        <div class="d-flex justify-content-center flex-wrap mt-2 pb-5">
            <div class="row px-0 mx-0">
                <!-- <div class="col-12 px-3 py-4 px-lg-2 mx-0">
                    <h1>Loyalty Program</h1>
                </div> -->

                <div class="col-12 pt-4 px-3 px-lg-2 mx-0">
                    <p><img src="../../../assets/images/Shakti-Points.jpg" class="w-100 pb-4"></p>
                    <p><strong>AcePoints - A unique player reward program of Shaktimaan games. </strong> <br>
                        Get rewarded with<strong> AcePoints </strong>every time you play cash games and premium entry
                        tournaments. The more you play, the more AcePoints you earn.
                    </p>

                    <h2>Earn AcePoints</h2>
                    <p>Earn 1 <strong> AcePoint</strong> for every 100 Rupees you play on Shaktimaan cash games and premium
                        entry tournaments.</p>
                    <p>As you earn <strong>AcePoints</strong>, you will reach to higher Ace Levels. The number of stars
                        corresponding to each Ace Level will appear alongside your Username.
                    </p>
                    
                    <div class="p-3 my-3 text-center"
                        style="font-size: 20px; background: #1e2128; color:#fff; border-radius: 10px;">
                        Ace Levels and Level Upgrades</div>
                    <p>As you earn <strong>AcePoints</strong>, your Reward Level gets automatically upgraded to the next
                        level based on the table below.</p>

                </div>
                <div class="col-12 px-3 py-4 px-lg-2 mx-0">
                    <div class="table-responsive">
                        <div class="table">
                            <table class="text-center">
                                <tbody>
                                    <tr>
                                        <th><strong>Ace Levels</strong></th>
                                        <th><strong>AcePoints Required </strong></th>
                                        <th><strong>Stars</strong></th>
                                    </tr>
                                    <tr>
                                        <td> Bronze</td>
                                        <td> On Add Cash </td>
                                        <td><img src="../../../assets/images/star1.png"></td>
                                    </tr>
                                    <tr>
                                        <td> Bronze to Silver</td>
                                        <td> 500</td>
                                        <td><img src="../../../assets/images/star2.png"></td>
                                    </tr>
                                    <tr>
                                        <td> Sliver to Gold</td>
                                        <td> 2,000</td>
                                        <td><img src="../../../assets/images/star3.png"></td>
                                    </tr>
                                    <tr>
                                        <td> Gold to Platinum</td>
                                        <td> 7,500</td>
                                        <td><img src="../../../assets/images/star4.png"></td>
                                    </tr>
                                    <tr>
                                        <td> Platinum to Platinum+</td>
                                        <td> 20,000</td>
                                        <td><img src="../../../assets/images/star5.png" ></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-12 px-3 px-lg-2 mx-0">

                    <h2>Benefits of AceLevels </h2>
                    <p>There are several benefits of Ace Levels and the higher your Ace Level the higher benefits you
                        get during certain cash addition bonus promotions, ranging from higher bonus % to higher max
                        bonus amount.
                    </p>
                    <p><strong>In Addition some other benefits are listed below:</strong></p>
                    <ul class="list-style">
                        <li>
                            Gold Acelevel Player will be able to do a cash addition of ₹30,000 in a single transaction
                        </li>
                        <li>
                            Platinum & Platinum+ AceLevel Players can do a cash addition of ₹30,000 in a single
                            transaction
                        </li>
                        <li>Gold &amp; Platinum AceLevel Players can redeem upto ₹20,000 in a single transaction</li>
                        <li>
                            Platinum+ AceLevel Players can redeem upto ₹30,000 in a single transaction
                        </li>
                    </ul>

                </div>
                <div class="col-12 px-3 px-lg-2 mx-0">

                    <h2  class="m-t-10">Redeem AcePoints</h2>
                    <p><img src="../../../assets/images/Redeem-yourpoints.jpg" class="w-100 py-4"></p>
                    <p>You can claim following cash bonus while redeeming acepoints through cash addition.</p>
                    <div class="table-responsive">
                        <div class="table py-4">
                            <table class="text-center">
                                <tbody>
                                    <tr>
                                        <th>Redeem AcePoints</th>
                                        <th>Bonus Amt.</th>
                                        <th>Minimum Add Cash Amt.</th>
                                    </tr>
                                    <tr>
                                        <td> 1000</td>
                                        <td>100</td>
                                        <td>500</td>
                                    </tr>
                                    <tr>
                                        <td> 2000</td>
                                        <td> 200</td>
                                        <td>1000</td>
                                    </tr>
                                    <tr>
                                        <td> 3000</td>
                                        <td> 300</td>
                                        <td>2000</td>
                                    </tr>
                                    <tr>
                                        <td> 5000</td>
                                        <td> 500</td>
                                        <td>5000</td>
                                    </tr>
                                    <tr>
                                        <td>10000</td>
                                        <td>1000</td>
                                        <td>10000</td>
                                    </tr>
                                    <tr>
                                        <td> 20000</td>
                                        <td> 2000</td>
                                        <td>10000</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                    <!--<p ng-hide="vm.isWebView"> Click <a href="acepoints.do">here</a> to redeem AcePoints now.</p>-->
                    <ul class="list-style">
                        <li>AcePoints redemption bonus will be released based on playing.</li>
                        <li>Redeeming AcePoints will not affect player's current Ace Level</li>
                    </ul>
                    
                </div>
                <div class="col-12 px-3 px-lg-2 mx-0">
                    <h2>Redeem AcePoints for Instant Bonus</h2>
                    <p ><img src="../../../assets/images/Exclusive-Offer.jpg" class="w-100 py-4"></p>
                    <p>On various occasions, Shaktimaan rewards its premium players with Special Redeem Offer. During this
                        period, players may redeem their AcePoints for an Instant Bonus where no cash addition is
                        required. This instant Bonus will be added to player's cash balance</p>
                </div>
                <div class="col-12 px-3 px-lg-2 mx-0">
                    <h2>AcePoints Tournaments</h2>
                    <p><img src="../../../assets/images/Shaktii-Points-Tournaments.jpg" class="w-100 py-4"></p>
                    <p>The most anticipated Tourney at Shaktimaan is now open for Registrations. Players can now entry to these
                        Tourneys using their AcePoints and win Cash Prizes. Players can Re-entry multiple times, even in
                        the same level. Therefore accumulating AcePoints now would not only lend you special treatment
                        but also great rewards.</p>
                    <div class="table-responsive py-4">
                        <div class="table">
                            <table class=" text-center">
                                <tbody>
                                    <tr>
                                        <th>When </th>
                                        <th>Time</th>
                                        <th>Entry </th>
                                        <th>Max Players</th>
                                    </tr>
                                    <tr>
                                        <td> Monday</td>
                                        <td>12 PM &amp; 6 PM</td>
                                        <td>50 &amp; 100 AP</td>
                                        <td>200</td>
                                    </tr>
                                    <tr>
                                        <td> Tuesday</td>
                                        <td>12 PM &amp; 6 PM</td>
                                        <td>50 &amp; 100 AP</td>
                                        <td>200</td>
                                    </tr>
                                    <tr>
                                        <td> Wednesday</td>
                                        <td>12 PM &amp; 6 PM</td>
                                        <td>50 &amp; 100 AP</td>
                                        <td>200 </td>
                                    </tr>
                                    <tr>
                                        <td> Thursday</td>
                                        <td>12 PM &amp; 6 PM</td>
                                        <td>50 &amp; 100 AP</td>
                                        <td>200</td>
                                    </tr>
                                    <tr>
                                        <td> Friday</td>
                                        <td>12 PM &amp; 6 PM</td>
                                        <td>50 &amp; 100 AP</td>
                                        <td>200</td>
                                    </tr>
                                    <tr>
                                        <td> Saturday</td>
                                        <td>12 PM &amp; 6 PM</td>
                                        <td>50 &amp; 100 AP</td>
                                        <td>200</td>
                                    </tr>
                                    <tr>
                                        <td> Sunday</td>
                                        <td>12 PM &amp; 6 PM</td>
                                        <td>50 &amp; 100 AP</td>
                                        <td>200</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-12 px-3 px-lg-2 mx-0">

                    <h2>Terms and Conditions</h2>
                    
                    <ul class="list-style">
                        <li>AcePoints will be calculated in real time and will be updated at the end of each game.
                            Correspondingly, any upgrade in Ace Level as a result of player activity will be reflected
                            instantly. </li>
                        <li>AcePoints to be earned to Upgrade to a particular Level can be changed at the discretion of
                            the Management without prior notice. </li>
                        <li>Cash balance to be used for playing to earn 1 AcePoint can be changed at the discretion of
                            the Management without prior notice. </li>
                        <li>AcePoints can be earned from playing cash games and Premium Entry Tourneys only. </li>
                        <li>AcePoints cannot be earned from playing Premium Freeroll and any Play Chip games. </li>
                        <li>AcePoints expire in case you do not login to the game client for more than 180 days. Logging
                            in to your account from the website will not be considered. </li>
                        <li>By registering &amp; playing on Shaktimaan, you agree to the <a href="#"
                        >Terms and Conditions</a>
                        </li>
                        <li>The management reserves the right to change or cancel this promotion at any time without any
                            prior notice. </li>
                        <li>In case of any discrepancy, the decision of the management would be final and binding. </li>

                    </ul>

                </div>
            </div>



        </div>

        <app-footer></app-footer>
    </div>
    <div class="right-panel d-none d-md-block">
        <app-promotion-right-panel></app-promotion-right-panel>
    </div>
</div>