<div class="main-container">
    <!-- <header class="cb-header">
        <div class="cb-fixed-header justify-content-between">
            <div class="d-flex align-items-center">
                <div class="main-logo">
                    <a class="logo" href="#logo">
                        <h3>S<span>M</span></h3>
                    </a>
                </div>
                <div class="search-box">
                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.577 18.6154C15.0166 18.6154 18.6155 15.0164 18.6155 10.5769C18.6155 6.13739 15.0166 2.53845 10.577 2.53845C6.13752 2.53845 2.53857 6.13739 2.53857 10.5769C2.53857 15.0164 6.13752 18.6154 10.577 18.6154Z" stroke="#656569" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M19.4613 19.4616L16.9229 16.9231" stroke="#656569" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <input type="text" placeholder="Search Here" class="cb-search">
                </div>
            </div>
            <div>
                <nav>
                    <ul>
                        <li class="cb-item"><a href="">Sports</a></li>
                        <li class="cb-item active"><a href="/casino">Casino</a></li>
                        <li class="cb-item"><a href="#">Inplay</a></li>
                        <li class="cb-item"><a href="#">Fulltoz</a></li>
                    </ul>
                </nav>
            </div>
            <div class="cb-login-signup"> 
                <div class="cb-login d-flex justify-content-between">
                    <a class="signup-btn" href="#">Deposit</a>
                    <div class="wallet">
                        <div class="wallet1">
                            <img src="../../../assets/images/wallet-1.svg" alt="" />
                            <span>50,000 INR</span>
                        </div>
                        <div class="wallet2">
                            <img src="../../../assets/images/wallet-2.svg" alt="" />
                            <span>50,000 INR</span>
                        </div>
                    </div>
                    <img src="../../../assets/images/avatar.png" alt="">
                </div>
            </div>
        </div>
    </header> -->

    <app-header></app-header>
    <div class="cb-container">
        <app-sidebar></app-sidebar>
        <div class="cb-col cb-mid-content">
            <div class="cb-mid-left">
                <div class="banner">
                    <div class="img-box">
                        <img src="../../../assets/images/casino-banner.png" alt="">
                    </div>
                    <div class="txt-box">
                        <h3>Play <span>Live</span></h3>
                        <h5>New games every season</h5>
                    </div>
                </div>
                <div class="sub-nav">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                          <a class="nav-link active" href="#">All</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Teen Patti</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Baccarat</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Poker</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Andar Bahar</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Worli Matka</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Joker</a>
                        </li>
                    </ul>
                </div>
                <div class="d-flex justify-content-center flex-wrap pb-5">
                    <div class="popup-container">
                        <div class="popup-content">
                            <div class="popup-header">
                                <div class="inner-popup"></div>
                                <h3 class="cb-date">Live Game</h3>
                            </div>
                            <div class="popup-1-radius"></div>
                            <div class="popup-2-radius"></div>
                            <div class="popup-3-radius"></div>
                            <div class="popup-4-radius"></div>
                            <div class="popup-5-radius"></div>
                            <div class="popup-6-radius"></div>
                            <img src="../../../assets/images/dragon.svg" alt="" />
                            <h3>dragon tiger</h3>
                        </div>
                    </div>
                    <div class="popup-container">
                        <div class="popup-content">
                            <div class="popup-header">
                                <div class="inner-popup"></div>
                                <h3 class="cb-date">Live Game</h3>
                            </div>
                            <div class="popup-1-radius"></div>
                            <div class="popup-2-radius"></div>
                            <div class="popup-3-radius"></div>
                            <div class="popup-4-radius"></div>
                            <div class="popup-5-radius"></div>
                            <div class="popup-6-radius"></div>
                            <img src="../../../assets/images/dragon.svg" alt="" />
                            <h3>dragon tiger</h3>
                        </div>
                    </div>
                    <div class="popup-container">
                        <div class="popup-content">
                            <div class="popup-header">
                                <div class="inner-popup"></div>
                                <h3 class="cb-date">Live Game</h3>
                            </div>
                            <div class="popup-1-radius"></div>
                            <div class="popup-2-radius"></div>
                            <div class="popup-3-radius"></div>
                            <div class="popup-4-radius"></div>
                            <div class="popup-5-radius"></div>
                            <div class="popup-6-radius"></div>
                            <img src="../../../assets/images/dragon.svg" alt="" />
                            <h3>dragon tiger</h3>
                        </div>
                    </div>
                    <div class="popup-container">
                        <div class="popup-content">
                            <div class="popup-header">
                                <div class="inner-popup"></div>
                                <h3 class="cb-date">Live Game</h3>
                            </div>
                            <div class="popup-1-radius"></div>
                            <div class="popup-2-radius"></div>
                            <div class="popup-3-radius"></div>
                            <div class="popup-4-radius"></div>
                            <div class="popup-5-radius"></div>
                            <div class="popup-6-radius"></div>
                            <img src="../../../assets/images/dragon.svg" alt="" />
                            <h3>dragon tiger</h3>
                        </div>
                    </div>
                    <div class="popup-container">
                        <div class="popup-content">
                            <div class="popup-header">
                                <div class="inner-popup"></div>
                                <h3 class="cb-date">Live Game</h3>
                            </div>
                            <div class="popup-1-radius"></div>
                            <div class="popup-2-radius"></div>
                            <div class="popup-3-radius"></div>
                            <div class="popup-4-radius"></div>
                            <div class="popup-5-radius"></div>
                            <div class="popup-6-radius"></div>
                            <img src="../../../assets/images/dragon.svg" alt="" />
                            <h3>dragon tiger</h3>
                        </div>
                    </div>
                    <div class="popup-container">
                        <div class="popup-content">
                            <div class="popup-header">
                                <div class="inner-popup"></div>
                                <h3 class="cb-date">Live Game</h3>
                            </div>
                            <div class="popup-1-radius"></div>
                            <div class="popup-2-radius"></div>
                            <div class="popup-3-radius"></div>
                            <div class="popup-4-radius"></div>
                            <div class="popup-5-radius"></div>
                            <div class="popup-6-radius"></div>
                            <img src="../../../assets/images/dragon.svg" alt="" />
                            <h3>dragon tiger</h3>
                        </div>
                    </div>
                    <div class="popup-container">
                        <div class="popup-content">
                            <div class="popup-header">
                                <div class="inner-popup"></div>
                                <h3 class="cb-date">Live Game</h3>
                            </div>
                            <div class="popup-1-radius"></div>
                            <div class="popup-2-radius"></div>
                            <div class="popup-3-radius"></div>
                            <div class="popup-4-radius"></div>
                            <div class="popup-5-radius"></div>
                            <div class="popup-6-radius"></div>
                            <img src="../../../assets/images/dragon.svg" alt="" />
                            <h3>dragon tiger</h3>
                        </div>
                    </div>
                    <div class="popup-container">
                        <div class="popup-content">
                            <div class="popup-header">
                                <div class="inner-popup"></div>
                                <h3 class="cb-date">Live Game</h3>
                            </div>
                            <div class="popup-1-radius"></div>
                            <div class="popup-2-radius"></div>
                            <div class="popup-3-radius"></div>
                            <div class="popup-4-radius"></div>
                            <div class="popup-5-radius"></div>
                            <div class="popup-6-radius"></div>
                            <img src="../../../assets/images/dragon.svg" alt="" />
                            <h3>dragon tiger</h3>
                        </div>
                    </div>
                    <div class="popup-container">
                        <div class="popup-content">
                            <div class="popup-header">
                                <div class="inner-popup"></div>
                                <h3 class="cb-date">Live Game</h3>
                            </div>
                            <div class="popup-1-radius"></div>
                            <div class="popup-2-radius"></div>
                            <div class="popup-3-radius"></div>
                            <div class="popup-4-radius"></div>
                            <div class="popup-5-radius"></div>
                            <div class="popup-6-radius"></div>
                            <img src="../../../assets/images/dragon.svg" alt="" />
                            <h3>dragon tiger</h3>
                        </div>
                    </div>
                    <div class="popup-container">
                        <div class="popup-content">
                            <div class="popup-header">
                                <div class="inner-popup"></div>
                                <h3 class="cb-date">Live Game</h3>
                            </div>
                            <div class="popup-1-radius"></div>
                            <div class="popup-2-radius"></div>
                            <div class="popup-3-radius"></div>
                            <div class="popup-4-radius"></div>
                            <div class="popup-5-radius"></div>
                            <div class="popup-6-radius"></div>
                            <img src="../../../assets/images/dragon.svg" alt="" />
                            <h3>dragon tiger</h3>
                        </div>
                    </div>
                    <div class="popup-container">
                        <div class="popup-content">
                            <div class="popup-header">
                                <div class="inner-popup"></div>
                                <h3 class="cb-date">Live Game</h3>
                            </div>
                            <div class="popup-1-radius"></div>
                            <div class="popup-2-radius"></div>
                            <div class="popup-3-radius"></div>
                            <div class="popup-4-radius"></div>
                            <div class="popup-5-radius"></div>
                            <div class="popup-6-radius"></div>
                            <img src="../../../assets/images/dragon.svg" alt="" />
                            <h3>dragon tiger</h3>
                        </div>
                    </div>
                    <div class="popup-container">
                        <div class="popup-content">
                            <div class="popup-header">
                                <div class="inner-popup"></div>
                                <h3 class="cb-date">Live Game</h3>
                            </div>
                            <div class="popup-1-radius"></div>
                            <div class="popup-2-radius"></div>
                            <div class="popup-3-radius"></div>
                            <div class="popup-4-radius"></div>
                            <div class="popup-5-radius"></div>
                            <div class="popup-6-radius"></div>
                            <img src="../../../assets/images/dragon.svg" alt="" />
                            <h3>dragon tiger</h3>
                        </div>
                    </div>
                    <div class="popup-container">
                        <div class="popup-content">
                            <div class="popup-header">
                                <div class="inner-popup"></div>
                                <h3 class="cb-date">Live Game</h3>
                            </div>
                            <div class="popup-1-radius"></div>
                            <div class="popup-2-radius"></div>
                            <div class="popup-3-radius"></div>
                            <div class="popup-4-radius"></div>
                            <div class="popup-5-radius"></div>
                            <div class="popup-6-radius"></div>
                            <img src="../../../assets/images/dragon.svg" alt="" />
                            <h3>dragon tiger</h3>
                        </div>
                    </div>
                    <div class="popup-container">
                        <div class="popup-content">
                            <div class="popup-header">
                                <div class="inner-popup"></div>
                                <h3 class="cb-date">Live Game</h3>
                            </div>
                            <div class="popup-1-radius"></div>
                            <div class="popup-2-radius"></div>
                            <div class="popup-3-radius"></div>
                            <div class="popup-4-radius"></div>
                            <div class="popup-5-radius"></div>
                            <div class="popup-6-radius"></div>
                            <img src="../../../assets/images/dragon.svg" alt="" />
                            <h3>dragon tiger</h3>
                        </div>
                    </div>
                    <div class="popup-container">
                        <div class="popup-content">
                            <div class="popup-header">
                                <div class="inner-popup"></div>
                                <h3 class="cb-date">Live Game</h3>
                            </div>
                            <div class="popup-1-radius"></div>
                            <div class="popup-2-radius"></div>
                            <div class="popup-3-radius"></div>
                            <div class="popup-4-radius"></div>
                            <div class="popup-5-radius"></div>
                            <div class="popup-6-radius"></div>
                            <img src="../../../assets/images/dragon.svg" alt="" />
                            <h3>dragon tiger</h3>
                        </div>
                    </div>
                    <div class="popup-container">
                        <div class="popup-content">
                            <div class="popup-header">
                                <div class="inner-popup"></div>
                                <h3 class="cb-date">Live Game</h3>
                            </div>
                            <div class="popup-1-radius"></div>
                            <div class="popup-2-radius"></div>
                            <div class="popup-3-radius"></div>
                            <div class="popup-4-radius"></div>
                            <div class="popup-5-radius"></div>
                            <div class="popup-6-radius"></div>
                            <img src="../../../assets/images/dragon.svg" alt="" />
                            <h3>dragon tiger</h3>
                        </div>
                    </div>
                    <div class="popup-container">
                        <div class="popup-content">
                            <div class="popup-header">
                                <div class="inner-popup"></div>
                                <h3 class="cb-date">Live Game</h3>
                            </div>
                            <div class="popup-1-radius"></div>
                            <div class="popup-2-radius"></div>
                            <div class="popup-3-radius"></div>
                            <div class="popup-4-radius"></div>
                            <div class="popup-5-radius"></div>
                            <div class="popup-6-radius"></div>
                            <img src="../../../assets/images/dragon.svg" alt="" />
                            <h3>dragon tiger</h3>
                        </div>
                    </div>
                    <div class="popup-container">
                        <div class="popup-content">
                            <div class="popup-header">
                                <div class="inner-popup"></div>
                                <h3 class="cb-date">Live Game</h3>
                            </div>
                            <div class="popup-1-radius"></div>
                            <div class="popup-2-radius"></div>
                            <div class="popup-3-radius"></div>
                            <div class="popup-4-radius"></div>
                            <div class="popup-5-radius"></div>
                            <div class="popup-6-radius"></div>
                            <img src="../../../assets/images/dragon.svg" alt="" />
                            <h3>dragon tiger</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cb-mid-right">
                <app-rightsidebar></app-rightsidebar>
            </div>
        </div>
    </div>
</div>