<div class="modal-body scooped-corners">
  <div class="inner-body inner-scooped-corners">
    <div class="header">
      <div class="heder-bg">
        <h4>Sign In / sign up</h4> </div>
    </div>
    <div class="content">
      <div class="row align-items-center modal_wrapper">
        <div class="col-122 col-md-6">
          <h4 class="title mb-5">Welcome back!</h4>
          <form>
            <div class="mb-4 form-group">
              <label for="" class="form-label">Enter your username</label>
              <input type="email" class="form-control" id="" placeholder="name@example.com"> <a href=""><img class="pt-2 mt-1" src="../../../../assets/images/call.svg"></a> </div>
            <div class="mb-4 form-group">
              <label for="" class="form-label">Enter your password</label>
              <input type="password" class="form-control" id="" placeholder="******"> <a href=""><img class="pt-2 mt-1" src="../../../../assets/images/eye.svg"></a> </div>
            <div class="mb-4 remember-me">
              <div class="radio-btn">
                <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" value="value1">
                <label for="styled-checkbox-1" class="text-white">Checkbox</label>
              </div>
              <div>
                <p>Forgot Password?</p>
              </div>
            </div>
            <button class="btn sign-btn mb-4 mt-2">Sign in</button>
            <p class="my-4 text-center">or continue with</p>
            <div class="social-icons">
              <ul>
                <li>
                  <a href="#"><img class="pt-3" src="../../../../assets/images/google.svg"></a>
                </li>
                <li>
                  <a href="#"><img class="pt-3" src="../../../../assets/images/fb.svg"> </a>
                </li>
                <li>
                  <a href="#"><img src="../../../../assets/images/telegram.svg"> </a>
                </li>
                <li>
                  <a href="#"><img src="../../../../assets/images/mail.svg"> </a>
                </li>
              </ul>
            </div>
            <p class="text-center mt-5">Don’t have an account? <span class="text-success"> Sign up </span></p>
          </form>
        </div>
        <div class="col-12 col-md-6"> <img src="assets/images/Screenshot 2021-11-26 at 3.27 1.png" height="550px" class="w-100"> </div>
      </div>
      <div class="text-center mt-4">
        <button type="button" class="btn dark-btn" (click)="activeModal.dismiss()">Close</button>
      </div>
    </div>
  </div>
</div>