<div class="popup-container">
    <div class="popup-content">
        <div class="popup-header">
            <div class="inner-popup"></div>
            <h2 class="cb-date">5th Dec</h2>
            <p class="cb-time">17:30</p>
        </div>
        <div class="popup-1-radius"></div>
        <div class="popup-2-radius"></div>
        <div class="popup-3-radius"></div>
        <div class="popup-4-radius"></div>
        <div class="popup-5-radius"></div>
        <div class="popup-6-radius"></div>
        <div class="team-vs">
            <div class="team-left">
                <div>
                    KKR<!-- <img src="../../../assets/images/kkr.png" alt=""> -->
                </div>
                <h3>KKR</h3>
            </div>
            <div class="vs-panel">
                <img src="../../../assets/images/bat-ball.svg" alt="">
                <h3>VS</h3>
                <h4>IPL 2021</h4>
            </div>
            <div class="team-right">
                <div>
                    DC<!-- <img src="../../../assets/images/dc.png" alt=""> -->
                </div>
                <h3>DC</h3>
            </div>
        </div>
        <div class="bet-section">
            <div>
                <p>L</p>
            </div>
            <div>
                <p>MO</p>
            </div>
            <div>
                <p>F</p>
            </div>
            <div>
                <p>BM</p>
            </div>
            <div>
                <p>M</p>
            </div>
            <div>
                <p>CM</p>
            </div>
        </div>
        <div class="pl-section">
            <div>
                <h2>1</h2>
                <p class="green-btn">1.65</p>
                <p class="pink-btn">1.65</p>
            </div>
            <div>
                <h2>X</h2>
                <p class="green-btn active">1.65</p>
                <p class="pink-btn active">1.65</p>
            </div>
            <div>
                <h2>2</h2>
                <p class="green-btn">1.65</p>
                <p class="pink-btn">1.65</p>
            </div>
        </div>
    </div>
</div>