/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");
@import "~@ng-select/ng-select/themes/default.theme.css";

:root {
  --my-primary: #23b054;
  --my-success: #4caf50;
  --primary: #23b054;
  --primary-border-shadow: #0071e33d;
  --primary-color: #0d6ffa;
  --accent-color: #49ce95;
  --danger-color: #ec3582;
  --fore-color: rgba(0, 0, 0, 0.65);
  --main-cast-shadow: 0px 3px 12px rgba(0, 0, 0, 0.08), 0px 3px 6px rgba(0, 0, 0, 0.12);
}

html,
body {
  position: relative;
  font-family: "Roboto", sans-serif;
  color: #c7c7c7;
  box-sizing: border-box;
  font-family: "Rajdhani", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  overflow-x: hidden;
}

html {
  scroll-padding-top: 4.5rem;
}

body {
  background: #191c22;
  background-image: url(/assets/images/small-dots.png);
  background-position: center;
  background-repeat: repeat;
  background-size: contain;
}

* {
  font-family: "Rajdhani", sans-serif;
}

#layoutSidenav {
  display: flex;

  #layoutSidenav_nav {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    min-height: calc(100vh - min(max(56px, 12vw), 98px));
    max-height: calc(100vh - min(max(56px, 12vw), 98px));
    z-index: 1038;
    width: 80px;
    // width: 250px;
    // width: calc(min(max(80px, 7vw), 131px) * 1);
    max-width: 100%;
    // flex-basis: calc(min(max(80px, 7vw), 131px) * 1);
    flex-shrink: 0;
    transition: transform 0.2s ease-in-out;
    z-index: 1038;
    transform: translateX(calc(min(max(80px, 7vw), 131px) * -1));
  }
  #layoutSidenav_content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 0;
    flex-grow: 1;
    min-height: calc(100vh - min(max(56px, 12vw), 98px));
    max-height: calc(100vh - min(max(56px, 12vw), 98px));
    overflow: hidden;
    overflow-y: auto;
    margin-left: calc(min(max(80px, 7vw), 131px) * -1);
    background-color: #191c22;
    box-shadow: -25px 25px 50px rgba(14, 15, 18, 0.2), 25px -25px 50px rgba(14, 15, 18, 0.2),
      -25px -25px 50px rgba(37, 41, 50, 0.9), 25px 25px 63px rgba(14, 15, 18, 0.9),
      inset 1px 1px 2px rgba(37, 41, 50, 0.3), inset -1px -1px 2px rgba(14, 15, 18, 0.5);
    border-radius: 15px 0px 0px 0px;
    transition: ease-in-out 0.3s;

    scrollbar-color: #000 transparent;
    scrollbar-width: thin;
    &::-webkit-scrollbar {
      width: 2px;
    }
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px transparent;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background: #000;
      border-radius: 10px;
      &:hover {
        background: #000;
      }
    }
  }

  @media (max-width: 992px) {
    #layoutSidenav_nav {
      // width: 321px;
      width: 310px;
      // transform: translateX(-321px);
      transform: translateX(-310px);
      // flex-basis: 321px;
      flex-basis: 310px;
      background: #191c22;
      box-shadow: -2px 2px 4px rgba(10, 11, 14, 0.2), 2px -2px 4px rgba(10, 11, 14, 0.2),
        -2px -2px 4px rgba(40, 45, 54, 0.9), 2px 2px 5px rgba(10, 11, 14, 0.9), inset 1px 1px 2px rgba(40, 45, 54, 0.3),
        inset -1px -1px 2px rgba(10, 11, 14, 0.5);

      .sm-sidenav .sm-sidenav-menu .nav .menu-accordion {
        margin-top: 18px;

        .accordion-item {
          .accordion-header {
            .accordion-button {
              justify-content: space-between !important;
            }
          }
        }
      }
    }

    #layoutSidenav_content {
      margin-left: -321px;
      border-radius: 0px;
      padding-bottom: 55px;
    }
  }
}

.sm-sidenav-toggled {
  #layoutSidenav {
    #layoutSidenav_nav {
      transform: translateX(0);
    }
    #layoutSidenav_content {
      overflow: hidden;

      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        z-index: 1037;
        opacity: 0.5;
        transition: opacity 0.3s ease-in-out;
      }
    }
  }
}

.sm-nav-fixed {
  #layoutSidenav {
    #layoutSidenav_nav {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      width: calc(min(max(80px, 7vw), 131px) * 1);
      height: 100vh;
      z-index: 1038;

      .sm-sidenav {
        padding-top: min(max(56px, 12vw), 98px);
        .sm-sidenav-menu {
          overflow-y: auto;
        }
      }
    }
    #layoutSidenav_content {
      padding-left: calc(min(max(80px, 7vw), 131px) * 1);
      top: min(max(56px, 12vw), 98px);
    }
  }
  .sm-topnav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    z-index: 1039;
  }
}

.sm-topnav {
  position: sticky;
  top: 0px;
  padding-left: 0;
  height: min(max(56px, 12vw), 98px);
  z-index: 1039;

  .left-menu-panel,
  .right-menu-panel {
    width: 300px;
    max-width: 50%;

    @media (max-width: 768px) {
      width: auto;
      max-width: none;
    }
  }

  .navbar-brand {
    width: min(max(80px, 7vw), 131px);
    margin: 0;

    @media (max-width: 992px) {
      width: auto;
      margin-left: 20px;
      margin-right: 12px;
    }

    .main-logo {
      width: min(max(40px, 4vw), 71px);
      height: min(max(40px, 4vw), 71px);
      background: #191c22;
      box-shadow: -1px 1px 2px rgba(10, 11, 14, 0.2), 1px -1px 2px rgba(10, 11, 14, 0.2),
        -1px -1px 2px rgba(40, 45, 54, 0.9), 1px 1px 3px rgba(10, 11, 14, 0.9), inset 1px 1px 2px rgba(40, 45, 54, 0.3),
        inset -1px -1px 2px rgba(10, 11, 14, 0.5);
      border-radius: 50%;
      font-size: min(max(18px, 2vw), 33px);
      font-weight: 600;
      line-height: normal;
      color: #22b455;
      cursor: pointer;

      div:nth-last-child(1) {
        color: #d0d1d0;
      }
    }
  }

  .input-group.search-box {
    width: 190px;
    height: 52px;
    background: #191c22;
    box-shadow: -2px 2px 2px rgba(10, 11, 14, 0.2), 2px -2px 2px rgba(10, 11, 14, 0.2),
      -2px -2px 2px rgba(40, 45, 54, 0.9), 2px 2px 5px rgba(10, 11, 14, 0.5), inset 1px 1px 2px rgba(40, 45, 54, 0.3),
      inset -1px -1px 2px rgba(10, 11, 14, 0.5);
    border-radius: 15px;

    .input-group-prepend {
      height: 100%;

      .input-group-text {
        background-color: transparent;
        border: 0px;
      }
    }

    input {
      width: calc(100% - 46px);
      height: 100%;
      border: none;
      outline: none;
      color: #fff;
      padding: 0px;
      background-color: transparent;
      outline: none;
      box-shadow: none !important;

      &::placeholder {
        font-family: "Rajdhani", sans-serif;
        color: #656569;
      }
    }
  }

  .toggle-btn {
    outline: none;
    box-shadow: none !important;
  }

  .nav-btns {
    .owl-carousel-nav-btns {
      width: 667px !important;
      max-width: 100%;
      padding: 5px;

      @media (max-width: 1200px) {
        width: 400px !important;
      }

      .owl-carousel {
        .owl-stage-outer {
          z-index: 1;
        }

        .owl-stage {
          .owl-item {
            .sm-angel-btn {
              height: 40px;
              max-height: 100%;
              margin: auto;
              white-space: nowrap;
              padding: auto;
              //border: 0.5px solid #212529;
            }
          }
        }

        .owl-nav {
          position: absolute;
          top: 0;
          margin: 0;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          z-index: 0;

          .owl-prev,
          .owl-next {
            position: relative;
            width: 12px;
            height: 12px;
            margin: 0;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            background-color: transparent;
            color: #23b054;
          }

          .owl-prev {
            left: -24px;
            background-image: url(/assets/images/less.svg);
          }

          .owl-next {
            right: -24px;
            background-image: url(/assets/images/greater.svg);
          }
        }
      }
    }
  }

  .action-btns {
    .btn-link {
      font-weight: 600;
      font-size: 18px;
      line-height: 23px;
      letter-spacing: 0.02em;
      text-transform: capitalize;
      text-decoration: none;
      color: #a2a3a5;
    }
  }
}

.sm-sidenav {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-wrap: nowrap;

  .sm-sidenav-menu {
    flex-grow: 1;
    height: calc(100vh - min(max(56px, 12vw), 98px));
    overflow: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    .nav {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      // justify-content: center;
      // align-items: center;
      float: left;

      .full-logo {
        font-weight: 500;
        font-size: 24px;
        line-height: normal;
        text-transform: capitalize;
        color: #22b455;

        div:nth-last-child(1) {
          color: #d0d1d0;
        }
      }

      .menu-btn {
        width: min(max(36px, 3vw), 68px);
        height: calc(min(max(36px, 3vw), 68px) + 8px);
        background: #1a1d24;
        box-shadow: -5px 5px 10px rgba(10, 12, 14, 0.2), 5px -5px 10px rgba(10, 12, 14, 0.2),
          -5px -5px 10px rgba(42, 46, 58, 0.9), 5px 5px 13px rgba(10, 12, 14, 0.9),
          inset 1px 1px 2px rgba(42, 46, 58, 0.3), inset -1px -1px 2px rgba(10, 12, 14, 0.5);
        border-radius: 36.5px;
        margin: 9px;

        @media (max-width: 992px) {
          width: 36px;
          height: 36px;
          background: #191c22;
          box-shadow: -1px 1px 2px rgba(10, 11, 14, 0.2), 1px -1px 2px rgba(10, 11, 14, 0.2),
            -1px -1px 2px rgba(40, 45, 54, 0.9), 1px 1px 3px rgba(10, 11, 14, 0.9),
            inset 1px 1px 2px rgba(40, 45, 54, 0.3), inset -1px -1px 2px rgba(10, 11, 14, 0.5);

          img {
            width: 16px;
            height: 16px;
          }
        }

        img {
          width: min(max(18px, 1vw), 26px);
          height: min(max(18px, 1vw), 26px);
        }
      }

      .menu-accordion {
        width: 100%;
        margin-top: 18px;

        .accordion-item {
          border: 0;
          background-color: transparent;

          .accordion-header {
            .accordion-button {
              color: #166130;
              background-color: transparent;
              outline: none;
              box-shadow: none !important;
              padding: 8px 20px;

              &::after {
                content: none;
              }

              &.active {
                .img-container {
                  background: #1d2229;
                  box-shadow: 1px 1px 2px rgb(46 54 66 / 30%), -1px -1px 2px rgb(12 14 16 / 50%),
                    inset -2px 2px 2px rgb(12 14 16 / 20%), inset 2px -2px 2px rgb(12 14 16 / 20%),
                    inset -2px -2px 2px rgb(46 54 66 / 90%), inset 2px 2px 3px rgb(12 14 16 / 90%);
                }
              }

              .img-container {
                width: min(max(36px, 3vw), 68px);
                max-width: min(max(36px, 3vw), 68px);
                height: min(max(36px, 3vw), 68px);
                max-height: min(max(36px, 3vw), 68px);
                background: linear-gradient(135deg, #1c2027 0%, #1e242b 100%);
                box-shadow: -1px 1px 2px rgba(12, 14, 16, 0.2), 1px -1px 2px rgba(12, 14, 16, 0.2),
                  -1px -1px 2px rgba(46, 54, 66, 0.9), 1px 1px 3px rgba(12, 14, 16, 0.9),
                  inset 1px 1px 2px rgba(46, 54, 66, 0.3), inset -1px -1px 2px rgba(12, 14, 16, 0.5);
                border-radius: 5px;
                border-radius: 5px;

                img {
                  width: min(max(18px, 1vw), 28px);
                  height: min(max(18px, 1vw), 28px);
                }
              }

              .title {
                flex: 1;
                font-weight: 500;
                font-size: 20px;
                line-height: 26px;
                text-transform: capitalize;
                color: #166130;
                padding: 0px 16px;
              }

              .toggle-btn {
                width: 36px;
                height: 36px;
                background: #191c22;
                box-shadow: 1px 1px 2px rgba(40, 45, 54, 0.3), -1px -1px 2px rgba(10, 11, 14, 0.5),
                  inset -1px 1px 2px rgba(10, 11, 14, 0.2), inset 1px -1px 2px rgba(10, 11, 14, 0.2),
                  inset -1px -1px 2px rgba(40, 45, 54, 0.9), inset 1px 1px 3px rgba(10, 11, 14, 0.9);
                border-radius: 50%;

                &.active {
                  img {
                    transform: rotateZ(0deg);
                    transition: ease-in-out 0.3s;
                  }
                }

                img {
                  position: relative;
                  top: -1px;
                  left: -1px;
                  width: 14px;
                  height: 14px;
                  transform: rotateZ(45deg);
                  transition: ease-in-out 0.3s;
                }
              }
            }
          }

          .accordion-body {
            padding-top: 0px;
            padding-left: calc(1.25em + 8px);
            padding-right: 12px;
            font-weight: 500;
            font-size: 14px;
            letter-spacing: -0.01em;

            .menus {
              margin-top: 8px;

              .sub-title {
                margin-bottom: 4px;
              }

              .list {
                position: relative;
                font-size: 12px;
                color: #23b054;
                padding-left: 5px;

                &::before {
                  position: absolute;
                  content: "";
                  width: 1px;
                  height: 100%;
                  top: 0;
                  left: 0;
                  background-color: #004c00;
                }

                p {
                  margin-bottom: 3px;
                }
              }
            }
          }
        }
      }
    }
  }
  .sm-sidenav-footer {
    padding: 0.75rem;
    flex-shrink: 0;
  }
}

.sm-bottom-bar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 64px;
  display: flex;
  padding: 4px min(max(12px, 3em), 24px);
  justify-content: space-between;
  margin: auto 0px 0px 0px;
  // background-image: radial-gradient(circle at 50% 6px,transparent 36px, #191C22 6.95%, #1B1E26 94.81%);
  background-image: radial-gradient(circle at 36px 6px, transparent 36px, #191c22 37px);
  filter: drop-shadow(0px -1px 6px rgba(0, 0, 0, 0.08)) drop-shadow(0px -2px 12px rgba(0, 0, 0, 0.12));
  box-shadow: -2px 2px 4px rgba(10, 12, 14, 0.2), 2px -2px 4px rgba(10, 12, 14, 0.2),
    -2px -2px 4px rgba(42, 46, 58, 0.9), 2px 2px 5px rgba(10, 12, 14, 0.9), inset 1px 1px 2px rgba(42, 46, 58, 0.3),
    inset -1px -1px 2px rgba(10, 12, 14, 0.5);
  transition: cubic-bezier(0.57, 0.23, 0.08, 0.96) 0.45s;
  z-index: 99999;

  .sm-menu-item {
    min-width: 65px;
    max-width: 80px;
    color: var(--fore-color);
    transition: ease-in-out 0.5s;
    cursor: pointer;
    color: #166130;
    text-decoration: none;

    &.active {
      color: #23b054;
    }

    &.sm-current {
      // transform: translate3d(0px, -22px, 0px);
      transform: translate3d(7px, -22px, 0px);
      padding-bottom: 9px;
      z-index: 1;

      img,
      div {
        position: relative;
        z-index: 3;
      }
    }

    img {
      width: 21px;
      height: 21px;
    }

    div {
      margin-top: 4px;
      font-size: 12px;
      line-height: normal;
    }
  }

  .sm-nav-indicator {
    position: absolute;
    width: 56px;
    height: 56px;
    bottom: 28px;
    left: 0px;
    margin: auto;
    background: #1a1d24;
/*     box-shadow: -5px 5px 10px rgba(10, 12, 14, 0.2), 5px -5px 10px rgba(10, 12, 14, 0.2),
      -5px -5px 10px rgba(42, 46, 58, 0.9), 5px 5px 13px rgba(10, 12, 14, 0.9), inset 1px 1px 2px rgba(42, 46, 58, 0.3),
      inset -1px -1px 2px rgba(10, 12, 14, 0.5); */
    box-shadow: -5px 5px 10px rgba(10, 12, 14, 0.2), 5px -5px 10px rgba(10, 12, 14, 0.2),
      -5px -5px 10px rgba(42, 46, 58, 0.9), 5px 5px 13px rgba(10, 12, 14, 0.9),
      inset -1px -1px 2px rgba(10, 12, 14, 0.5);
    border-radius: 50%;
    transition: cubic-bezier(0.45, 0.73, 0, 0.59) 0.3s;

    &::before {
      position: absolute;
      content: "10";
      top: 0px;
      right: 0px;
      width: 14px;
      height: 14px;
      border: 0.5px solid #23b054;
      background: #1a1d24;
      color: #23b054;
      font-size: 9px;
      border-radius: 14px;
      text-align: center;
      line-height: 15px;
    }
  }
}

@media (min-width: 992px) {
  #layoutSidenav {
    #layoutSidenav_nav {
      transform: translateX(0);
    }
    #layoutSidenav_content {
      margin-left: 0;
      transition: margin 0.15s ease-in-out;
    }
  }
  .sm-sidenav-toggled {
    #layoutSidenav {
      #layoutSidenav_nav {
        transform: translateX(calc(min(max(80px, 7vw), 131px) * -1));
      }
      #layoutSidenav_content {
        margin-left: calc(min(max(80px, 7vw), 131px) * -1);
        border-radius: 0px;
        &:before {
          display: none;
        }
      }
    }
  }
}

.scrollbar {
  scrollbar-color: #000 transparent;
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: 2px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px transparent;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 10px;
    &:hover {
      background: #000;
    }
  }
}

.parallax {
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.invalid-feedback {
  display: block;
  text-align: left;
}

.form-group {
  position: relative;

  &.noLabel {
    .required {
      right: -5px !important;
      top: 10px !important;
    }
  }

  .required {
    font-size: 14px;
    color: #f30c1c;
    display: inline-block;
    vertical-align: middle;
    height: 14px;
    position: absolute;
    right: -9px;
    top: 34px;
  }
}

.ngb-toasts {
  margin: 0.5em;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1200;
}

input,
textarea,
select,
ng-select {
  &.ng-invalid.ng-touched,
  &.in-valid {
    border-color: #dc3545;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);

    &:focus {
      box-shadow: 0 0 0 0.25rem rgb(220 53 69 / 25%);
    }
  }
}

select,
ng-select {
  &:required {
    &:invalid {
      color: #6c7596;
    }
  }

  &.ng-invalid.ng-touched,
  &.in-valid {
    padding-right: 4.125rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e"),
      url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-position: right 0.75rem center, center right 2.25rem;
    background-size: 16px 12px, calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
  }

  option {
    color: #212529;
  }
}

input[type="radio"],
input[type="checkbox"] {
  &.ng-invalid.ng-touched,
  &.in-valid {
    padding-right: 0px;
    background-position: center;
  }
}

.toggle-password {
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("/assets/svgs/visibility_black.svg");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);

  &.password-visibility-off {
    background-image: url("/assets/svgs/visibility_off_black.svg");
  }

  & ~ span {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    top: 4px;
    right: 2px;
    background-color: transparent;
    cursor: pointer;
  }
}

.custom-radio-btn,
.custom-checkbox {
  margin-right: 2em;
  margin-bottom: 1em;

  .form-check-input {
    margin: 0;
    margin-right: 0.5em;
    width: 2em;
    height: 2em;
  }
}

button[ng-reflect-app-btnloader] {
  display: flex;
  justify-content: center;
}

.custom-ng-select {
  .ng-select-container {
    background-color: transparent;
    border: 0px !important;

    .ng-arrow-wrapper {
      display: none;
    }
  }
}

.modal-close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  padding: 0px;
  border-radius: 50%;
}

.modal-close-icon,
.c-pointer {
  cursor: pointer;
}

.text-muted {
  color: #555555 !important;
}

.sm-angel-btn {
  position: relative;
  width: min(max(66px, 7vw), 112px);
  height: min(max(30px, 3vw), 52px);
  background: #191c22;
  box-shadow: -1.42308px 1.42308px 2.84615px rgba(12, 15, 17, 0.2), 1.42308px -1.42308px 2.84615px rgba(12, 15, 17, 0.2),
    -1.42308px -1.42308px 2.84615px rgba(48, 59, 67, 0.9), 1.42308px 1.42308px 4.26923px rgba(12, 15, 17, 0.9),
    inset 1.42308px 1.42308px 2.84615px rgba(48, 59, 67, 0.3),
    inset -1.42308px -1.42308px 2.84615px rgba(12, 15, 17, 0.5);
  // clip-path: polygon(15% 0%, 85% 5%, 95% 90%, 5% 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: min(max(12px, 1vw), 18px);
  text-transform: capitalize;
  color: #c7c7c7;
  margin: auto;
  transition: ease-in-out 0.3s;

  &.active {
    background: #191c22;
    box-shadow: 1px 1px 2px rgb(38 42 51 / 30%), -1px -1px 2px rgb(12 14 17 / 50%),
      inset -3px 3px 6px rgb(12 14 17 / 20%), inset 3px -3px 6px rgb(12 14 17 / 20%),
      inset -3px -3px 6px rgb(38 42 51 / 90%), inset 3px 3px 8px rgb(12 14 17 / 90%) !important;
    color: #22b455 !important;
    transition: ease-in-out 0.3s;
  }
}

.sm-btn {
  position: relative;
  width: auto;
  height: min(max(35px, 2vw), 53px);
  background-color: #12691f;
  // background: linear-gradient(135deg, #198754 0%, #198754 100%);
  box-shadow: -1px 1px 2px rgba(12, 14, 16, 0.2), 1px -1px 2px rgba(12, 14, 16, 0.2),
    -1px -1px 2px rgba(46, 54, 66, 0.9), 1px 1px 3px rgba(12, 14, 16, 0.9), inset 1px 1px 2px rgba(46, 54, 66, 0.3),
    inset -1px -1px 2px rgba(12, 14, 16, 0.5);
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.02em;
  border: 0px;
  text-transform: capitalize;
  color: white;
  padding: 4px 16px;
}
.sm-btn:focus {
  box-shadow: 1px 1px 2px rgb(46 67 50 / 30%), -1px -1px 2px rgb(12 17 12 / 50%), inset -1px 1px 2px rgb(12 17 12 / 20%),
    inset 1px -1px 2px rgb(12 17 12 / 20%), inset -1px -1px 2px rgb(46 67 50 / 90%),
    inset 1px 1px 3px rgb(12 17 12 / 90%) !important;
}

.carousel {
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  max-width: 680px;
  height: 400px;
  border-radius: 20%;
  outline: none;
  border: none;

  .carousel-cell {
    margin-top: 35px;
    margin-right: 35px;
    margin-bottom: 35px;
    float: right;
    max-width: 273px;
    width: 100%;
    height: 287px;
    border-radius: 15px;
    counter-increment: carousel-cell;
    transition: all 0.3s ease;
    opacity: 0.7;
    background-color: transparent;

    &.is-selected {
      filter: blur(0);
      opacity: 1;
      transform: scale(1.1);
    }
  }
}

.cards {
  .card {
    position: relative;
    min-width: 135px;
    max-width: 100%;
    height: 154px;
    background: #101114;
    overflow: hidden;
    border: 0px;
    margin-bottom: 10px;

    .card-radius-top,
    .card-radius-center,
    .card-radius-bottom {
      position: absolute;
      width: 100%;
      height: 20px;
      z-index: 1;

      &::before,
      &::after {
        position: absolute;
        content: "";
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #25262c;
        z-index: 1;
      }
    }

    .card-radius-top {
      top: 0px;

      &::before {
        top: -10px;
        left: -10px;
      }

      &::after {
        top: -10px;
        right: -10px;
      }
    }

    .card-radius-center {
      top: 50%;

      &::before {
        top: 0px;
        left: -10px;
      }

      &::after {
        top: 0px;
        right: -10px;
      }
    }

    .card-radius-bottom {
      bottom: 0px;

      &::before {
        top: 10px;
        left: -10px;
      }

      &::after {
        top: 10px;
        right: -10px;
      }
    }
  }
}

.sm-modal,
.match-score-modal {
  .modal-content {
    background-color: transparent;
  }
}
.modal_wrapper{
  max-height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
}
.sm-modal {
  .modal-content {
    background-color: transparent;
    border: none;
    padding: 40px;
    position: relative;

    .scooped-corners {
      --scoop-radius: 25px;
      --border-width: 2px;
      --border-color: transparent;
      --background-color: #191c22;
      --border-stop: calc(var(--scoop-radius) + var(--border-width));
      --scoop-gradient: rgba(47, 51, 64, 0) var(--scoop-radius), var(--border-color) calc(var(--scoop-radius) + 1px),
        var(--border-color) var(--border-stop), var(--background-color) calc(var(--border-stop) + 1px);
      padding: 8px;
      background: var(--background-color);
      background: radial-gradient(circle at 0 0, var(--scoop-gradient)) top left,
        radial-gradient(circle at 100% 0, var(--scoop-gradient)) top right,
        radial-gradient(circle at 100% 100%, var(--scoop-gradient)) bottom right,
        radial-gradient(circle at 0 100%, var(--scoop-gradient)) bottom left;
      background-size: 50% 50%;
      background-repeat: no-repeat;
      background-image: linear-gradient(to bottom, var(--border-color) 0, var(--border-color) var(--border-width)),
        linear-gradient(to left, var(--border-color) 0, var(--border-color) var(--border-width)),
        linear-gradient(to top, var(--border-color) 0, var(--border-color) var(--border-width)),
        linear-gradient(to right, var(--border-color) 0, var(--border-color) var(--border-width)),
        radial-gradient(circle at 0 0, var(--scoop-gradient)), radial-gradient(circle at 100% 0, var(--scoop-gradient)),
        radial-gradient(circle at 100% 100%, var(--scoop-gradient)),
        radial-gradient(circle at 0 100%, var(--scoop-gradient)),
        linear-gradient(to right, var(--background-color) 0, var(--background-color) 1px),
        linear-gradient(to right, var(--background-color) 0, var(--background-color) 1px);
      background-position: top center, right center, bottom center, left center, top left, top right, bottom right,
        bottom left, top center, left center;
      background-size: calc(100% - (var(--scoop-radius) + 1px) * 2) var(--border-width),
        var(--border-width) calc(100% - (var(--scoop-radius) + 1px) * 2),
        calc(100% - (var(--scoop-radius) + 1px) * 2) var(--border-width),
        var(--border-width) calc(100% - (var(--scoop-radius) + 1px) * 2), var(--border-stop) var(--border-stop),
        var(--border-stop) var(--border-stop), var(--border-stop) var(--border-stop),
        var(--border-stop) var(--border-stop), calc(100% - var(--border-stop) * 2) 100%,
        100% calc(100% - var(--border-stop) * 2);

      .inner-scooped-corners {
        --scoop-radius: 25px;
        --border-width: 2px;
        --border-color: transparent;
        --background-color: #3a3d4933;
        --border-stop: calc(var(--scoop-radius) + var(--border-width));
        --scoop-gradient: rgba(47, 51, 64, 0) var(--scoop-radius), var(--border-color) calc(var(--scoop-radius) + 1px),
          var(--border-color) var(--border-stop), var(--background-color) calc(var(--border-stop) + 1px);
        padding: var(--border-stop);
        background: var(--background-color);
        background: radial-gradient(circle at 0 0, var(--scoop-gradient)) top left,
          radial-gradient(circle at 100% 0, var(--scoop-gradient)) top right,
          radial-gradient(circle at 100% 100%, var(--scoop-gradient)) bottom right,
          radial-gradient(circle at 0 100%, var(--scoop-gradient)) bottom left;
        background-size: 50% 50%;
        background-repeat: no-repeat;
      }
    }
  }
  .inner-body {
    .header {
      position: absolute;
      top: -13px;
      left: 50%;
      transform: translate(-50%);
      height: 13px;
      width: 365px;
      background: #0f1115;
      z-index: 1;
      .heder-bg {
        background-image: url("/assets/images/Rectangle.png");
        background-size: contain;
        width: 400px;
        height: 108px;
        position: absolute;
        top: -12px;
        left: -12px;
        background-repeat: no-repeat;
        right: 0;
        text-align: center;
        h4 {
          font-family: Rajdhani;
          font-style: normal;
          font-weight: 600;
          font-size: 30px;
          line-height: 110%;
          color: #23b054;
          padding-top: 33px;
          text-align: center;
        }
      }
      .profile-modal {
        .media {
          display: flex;
          padding-top: 20px;
          justify-content: center;
          align-items: center;
          img {
            width: 60px;
            height: 60px;
            border-radius: 100%;
            margin-right: 10px;
          }
          p {
            font-family: Rajdhani;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 110%;
            text-transform: capitalize;
            color: #a8a9aa;
            text-align: left;
          }
          h5 {
            font-family: Rajdhani;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 110%;
            color: #23b054;
            text-align: left;
          }
        }
      }
    }
    height: 100%;
    .content {
      // margin-top: 60px;
      margin-top: 40px;
      .title {
        font-family: Rajdhani;
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 110%;
        color: #23b054;
      }
      .form-group {
        position: relative;
        input {
          background: #1a1d24;
          box-shadow: -5px 5px 10px rgba(10, 12, 14, 0.2), 5px -5px 10px rgba(10, 12, 14, 0.2),
            -5px -5px 10px rgba(42, 46, 58, 0.9), 5px 5px 13px rgba(10, 12, 14, 0.9),
            inset 1px 1px 2px rgba(42, 46, 58, 0.3), inset -1px -1px 2px rgba(10, 12, 14, 0.5);
          border-radius: 15px;
          border: none;
          color: #23b054;
          height: 60px;
          padding: 20px 70px 0px 12px;
        }
        label {
          font-family: Rajdhani;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          letter-spacing: -0.01em;
          text-transform: capitalize;
          color: #545151;
          position: absolute;
          left: 12px;
          margin: 0;
          top: 7px;
        }
        a {
          position: absolute;
          width: 40px;
          height: 40px;
          right: 16px;
          text-align: center;
          top: 10px;
          background: #1a1d24;
          box-shadow: -3px 3px 6px rgba(10, 12, 14, 0.2), 3px -3px 6px rgba(10, 12, 14, 0.2),
            -3px -3px 6px rgba(42, 46, 58, 0.9), 3px 3px 8px rgba(10, 12, 14, 0.9),
            inset 1px 1px 2px rgba(42, 46, 58, 0.3), inset -1px -1px 2px rgba(10, 12, 14, 0.5);
          border-radius: 36.5px;
          i {
            color: #545151;
            padding-top: 11px;
          }
        }
      }
      select {
        background: #1a1d24;
        box-shadow: -5px 5px 10px rgba(10, 12, 14, 0.2), 5px -5px 10px rgba(10, 12, 14, 0.2),
          -5px -5px 10px rgba(42, 46, 58, 0.9), 5px 5px 13px rgba(10, 12, 14, 0.9),
          inset 1px 1px 2px rgba(42, 46, 58, 0.3), inset -1px -1px 2px rgba(10, 12, 14, 0.5);
        border-radius: 15px;
        border: none;
        color: #23b054;
        height: 60px;
        padding: 20px 70px 0px 12px;
        padding: 20px 0px 0px 12px;
      }
      .select-box {
        &:after {
          width: 0;
          height: 0;
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          border-top: 6px solid #22b455;
          position: absolute;
          top: 50%;
          right: 14px;
          content: "";
          z-index: 98;
        }
      }
      .upload-doc {
        position: relative;
        width: 100%;
        height: 201px;
        background: #151820;
        border-radius: 8px;
        input {
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          bottom: 0;
          right: 0;
          opacity: 0;
          z-index: 1;
          cursor: pointer;
        }
        p {
          color: #585858;
        }
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      .remember-me {
        display: flex;
        align-items: center;
        justify-content: space-between;
        p {
          font-family: Rajdhani;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 110%;
          color: #23b054;
          margin: 0;
        }
      }
      .sign-btn {
        width: 100%;
        color: #23b054;
        font-size: 20px;
        background: linear-gradient(135deg, #1c2027 0%, #1e242b 100%);
        box-shadow: -3px 3px 6px rgba(12, 14, 16, 0.2), 3px -3px 6px rgba(12, 14, 16, 0.2),
          -3px -3px 6px rgba(46, 54, 66, 0.9), 3px 3px 8px rgba(12, 14, 16, 0.9),
          inset 1px 1px 2px rgba(46, 54, 66, 0.3), inset -1px -1px 2px rgba(12, 14, 16, 0.5);
        border-radius: 5px;
      }
      .social-icons {
        ul {
          padding: 0;
          display: flex;
          align-items: center;
          justify-content: space-between;
          list-style: none;

          li {
            position: relative;
            background: #1a1d24;
            box-shadow: -5px 5px 10px rgba(10, 12, 14, 0.2), 5px -5px 10px rgba(10, 12, 14, 0.2),
              -5px -5px 10px rgba(42, 46, 58, 0.9), 5px 5px 13px rgba(10, 12, 14, 0.9),
              inset 1px 1px 2px rgba(42, 46, 58, 0.3), inset -1px -1px 2px rgba(10, 12, 14, 0.5);
            border-radius: 36.5px;
            min-width: 60px;
            height: 60px;
            text-align: center;
          }
          a {
            img {
              padding-top: 20px;
            }
          }
        }
      }
      .recharge-withdraw {
        .nav-pills {
          .nav-link {
            background: #151820;
            border-radius: 8px;
            font-family: Rajdhani;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: -0.01em;
            text-transform: capitalize;
            color: #908f8f;
            margin-right: 10px;
          }
          .nav-link.active {
            background: #161616;
            color: #23b054;
          }
          .show {
            > .nav-link {
              background: #161616;
              color: #23b054;
            }
          }
        }
      }
      .popup-container {
        .popup-content {
          position: relative;
          height: 288px;
          background: rgba(58, 61, 73, 0.2);
          -webkit-backdrop-filter: blur(80px);
          backdrop-filter: blur(80px);
          margin: 15px 10px;
          display: flex;
          justify-content: center;
          padding: 23px 0 0 25px;
          overflow: hidden;
          &:before {
            background: url(/assets/images/icon.png);
            position: absolute;
            top: 20px;
            right: 20px;
            content: "";
            width: 65px;
            height: 65px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
          }
          &:after {
            background: url("/assets/images/Group 82.png");
            position: absolute;
            top: 40px;
            right: 42px;
            content: "";
            width: 25px;
            height: 25px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
          }
        }
      }
      .inner-content {
        .btn-box {
          button {
            width: 72px;
            height: 30px;
            background: #1a1d25;
            border-radius: 6px;
            border: none;
            outline: none;
            font-weight: 600;
            font-size: 14px;
            line-height: 18px;
            text-transform: capitalize;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #23b054;
            margin-right: 5px;
          }
          h5 {
            margin-left: 7px !important;
            font-weight: 600;
            font-size: 13px;
            text-transform: capitalize;
            color: #908f8f;
          }
          display: flex;
          align-items: center;
          margin-top: 12px;
          width: 100%;
        }
        h1 {
          width: 120px;
          font-weight: 500;
          font-size: 15px;
          color: #908f8f;
          width: 120px;
          font-weight: 500;
          font-size: 15px;
          color: #908f8f;
          margin-bottom: 0px;
          width: 120px;
          font-weight: 500;
          font-size: 15px;
          color: #908f8f;
        }
        color: #fff;
        h3 {
          margin-top: 8px !important;
          font-weight: 500;
          font-size: 12px;
          color: #b7c1bb;
        }
        ul {
          margin: 10px 0 0 -12px;
          padding: 0 20px;
          width: 100%;
          list-style: none;
          li {
            margin: 0;
            position: relative;
            &:before {
              content: "";
              position: absolute;
              left: -7px;
              top: 3px;
              height: 2px;
              width: 2px;
              background: #908f8f;
            }
            p {
              margin: 4px 0;
              font-weight: 500;
              font-size: 9px;
              color: #908f8f;
              line-height: 11px;
            }
          }
        }
      }
      .popup-header {
        position: absolute;
        bottom: -9px;
        left: 50%;
        transform: translate(-50%);
        height: 8px;
        width: 137px;
        background: #0f1115;
        z-index: 1;
        border-bottom-left-radius: 10px !important;
        border-bottom-right-radius: 10px !important;
        .cb-date {
          position: relative;
          z-index: 3;
          font-size: 14px !important;
          text-align: center;
          margin: -20px 0 0 !important;
          font-family: Rajdhani, sans-serif;
          font-style: normal;
          font-weight: 600;
          line-height: 23px;
          letter-spacing: -0.01em;
          text-transform: capitalize;
          color: #23b054 !important;
        }
      }
      .inner-popup {
        position: absolute;
        bottom: 1px;
        left: 50%;
        transform: translate(-50%);
        height: 40px;
        width: 130px;
        background: linear-gradient(135deg, #191c22 0%, #1b1e26 100%);
        box-shadow: -1px 1px 2px #0c0d1033, 1px -1px 2px #0c0d1033, -1px -1px 2px #282d38e6, 1px 1px 3px #0c0d10e6,
          inset 1px 1px 2px #282d384d, inset -1px -1px 2px #0c0d1080;
        border-top-right-radius: 45px;
        border-top-left-radius: 45px;
        z-index: 2;
      }
      .popup-1-radius {
        width: 25px;
        height: 25px;
        background: #20232a;
        border-radius: 50%;
        position: absolute;
        top: -10px;
        left: -10px;
      }
      .popup-2-radius {
        width: 25px;
        height: 25px;
        background: #20232a;
        border-radius: 50%;
        position: absolute;
        top: -10px;
        right: -10px;
      }
      .popup-3-radius {
        width: 25px;
        height: 25px;
        background: #20232a;
        border-radius: 50%;
        position: absolute;
        bottom: -10px;
        left: -10px;
      }
      .popup-4-radius {
        width: 25px;
        height: 25px;
        background: #20232a;
        border-radius: 50%;
        position: absolute;
        bottom: -10px;
        right: -10px;
      }
      .popup-5-radius {
        width: 30px;
        height: 30px;
        background: #20232a;
        border-radius: 50%;
        position: absolute;
        top: 53.5%;
        left: 0%;
        transform: translate(-50%, -50%);
      }
      .popup-6-radius {
        width: 30px;
        height: 30px;
        background: #20232a;
        border-radius: 50%;
        position: absolute;
        top: 53.5%;
        right: -12%;
        transform: translate(-50%, -50%);
      }
      .dw-requst {
        .nav-pills {
          justify-content: center;
          .nav-link {
            background: #151820;
            border-radius: 8px;
            font-family: Rajdhani;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: -0.01em;
            text-transform: capitalize;
            color: #908f8f;
            margin-right: 10px;
          }
          .nav-link.active {
            color: green;
          }
          .show {
            > .nav-link {
              color: green;
            }
          }
        }
      }
      .dw-card {
        background: #1a1d24;
        box-shadow: -5px 5px 10px rgba(10, 12, 14, 0.2), 5px -5px 10px rgba(10, 12, 14, 0.2),
          -5px -5px 10px rgba(42, 46, 58, 0.9), 5px 5px 13px rgba(10, 12, 14, 0.9),
          inset 1px 1px 2px rgba(42, 46, 58, 0.3), inset -1px -1px 2px rgba(10, 12, 14, 0.5);
        border-radius: 15px;
        padding: 20px 10px;
        margin-bottom: 30px;
        .info {
          display: flex;
          align-items: center;
          justify-content: space-between;
          h6 {
            font-family: Rajdhani;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 0.02em;
            color: #908f8f;
            margin: 0;
          }
          p {
            font-family: Rajdhani;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 0.02em;
            color: #23b054;
            margin: 0;
          }
        }
      }
      .account-statement {
        background: #1a1d24;
        box-shadow: -5px 5px 10px rgba(10, 12, 14, 0.2), 5px -5px 10px rgba(10, 12, 14, 0.2),
          -5px -5px 10px rgba(42, 46, 58, 0.9), 5px 5px 13px rgba(10, 12, 14, 0.9),
          inset 1px 1px 2px rgba(42, 46, 58, 0.3), inset -1px -1px 2px rgba(10, 12, 14, 0.5);
        border-radius: 15px;
        padding: 10px;
        table {
          th {
            font-family: Rajdhani;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 0.02em;
            color: #908f8f;
          }
          td {
            font-family: Rajdhani;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 0.02em;
            color: #ffffff;
          }
        }
      }
      .matches-card {
        background: #1a1d24;
        box-shadow: -5px 5px 10px rgba(10, 12, 14, 0.2), 5px -5px 10px rgba(10, 12, 14, 0.2),
          -5px -5px 10px rgba(42, 46, 58, 0.9), 5px 5px 13px rgba(10, 12, 14, 0.9),
          inset 1px 1px 2px rgba(42, 46, 58, 0.3), inset -1px -1px 2px rgba(10, 12, 14, 0.5);
        border-radius: 15px;
        padding: 20px 10px;
        margin-bottom: 30px;
        .media {
          display: flex;
          align-items: center;
          .img-wrap {
            width: 52px;
            height: 52px;
            margin-right: 10px;
            background: linear-gradient(135deg, #1c2027 0%, #1e242b 100%);
            box-shadow: -0.764706px 0.764706px 1.52941px rgba(12, 14, 16, 0.2),
              0.764706px -0.764706px 1.52941px rgba(12, 14, 16, 0.2),
              -0.764706px -0.764706px 1.52941px rgba(46, 54, 66, 0.9),
              0.764706px 0.764706px 2.29412px rgba(12, 14, 16, 0.9),
              inset 0.764706px 0.764706px 1.52941px rgba(46, 54, 66, 0.3),
              inset -0.764706px -0.764706px 1.52941px rgba(12, 14, 16, 0.5);
            border-radius: 58.1176px;
            text-align: center;
            padding-top: 10px;
          }
          h5 {
            font-family: Rajdhani;
            font-style: normal;
            font-weight: 600;
            font-size: 22px;
            line-height: 32px;
            letter-spacing: 0.02em;
            color: #23b054;
          }
        }
      }
    }
  }

  .dark-btn {
    background: linear-gradient(135deg, #1c2027 0%, #1e242b 100%);
    box-shadow: -1px 1px 2px #0c0e1033, 1px -1px 2px #0c0e1033, -1px -1px 2px #2e3642e6, 1px 1px 3px #0c0e10e6,
      inset 1px 1px 2px #2e36424d, inset -1px -1px 2px #0c0e1080 !important;
    border-radius: 5px;
    color: #23b054 !important;
  }

  .radio-btn {
    .styled-checkbox {
      position: absolute;
      opacity: 0;
      + {
        label {
          position: relative;
          cursor: pointer;
          padding: 0;
          &:before {
            content: "";
            margin-right: 10px;
            display: inline-block;
            vertical-align: text-top;
            width: 25px;
            border-radius: 100%;
            height: 25px;
            background: #1c1f26;
            box-shadow: -3px 3px 6px rgb(12 14 17 / 20%), 3px -3px 6px rgb(12 14 17 / 20%),
              -3px -3px 6px rgb(44 48 59 / 90%), 3px 3px 8px rgb(12 14 17 / 90%), inset 1px 1px 2px rgb(44 48 59 / 30%),
              inset -1px -1px 2px rgb(12 14 17 / 50%);
          }
        }
      }
      &:focus {
        + {
          label {
            &:before {
              box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
            }
          }
        }
      }
      &:checked {
        + {
          label {
            &:before {
              background: #1c1f26;
              box-shadow: 1px 1px 2px rgba(44, 48, 59, 0.3), -1px -1px 2px rgba(12, 14, 17, 0.5),
                inset -3px 3px 6px rgba(12, 14, 17, 0.2), inset 3px -3px 6px rgba(12, 14, 17, 0.2),
                inset -3px -3px 6px rgba(44, 48, 59, 0.9), inset 3px 3px 8px rgba(12, 14, 17, 0.9);
            }
            &:after {
              content: "";
              position: absolute;
              left: 6px;
              top: 8px;
              background: linear-gradient(135deg, #25b958 0%, #21a750 100%);
              box-shadow: -13px 13px 26px rgba(14, 70, 34, 0.2), 13px -13px 26px rgba(14, 70, 34, 0.2),
                13px 13px 33px rgba(14, 70, 34, 0.9), inset 1px 1px 2px rgba(56, 255, 134, 0.3),
                inset -1px -1px 2px rgba(14, 70, 34, 0.5);
              width: 10px;
              height: 10px;
              border-radius: 100%;
            }
          }
        }
      }
      &:disabled {
        + {
          label {
            color: #b8b8b8;
            cursor: auto;
            &:before {
              box-shadow: none;
              background: #ddd;
            }
          }
        }
      }
    }
  }

  .carousel-links {
    .owl-dots {
      display: none;
    }
    background: #1a1d24;
    box-shadow: -5px 5px 10px rgba(10, 12, 14, 0.2), 5px -5px 10px rgba(10, 12, 14, 0.2),
      -5px -5px 10px rgba(42, 46, 58, 0.9), 5px 5px 13px rgba(10, 12, 14, 0.9), inset 1px 1px 2px rgba(42, 46, 58, 0.3),
      inset -1px -1px 2px rgba(10, 12, 14, 0.5);
    border-radius: 15px;
    padding: 10px 35px;
    width: 90%;
    margin: auto;
    .owl-carousel-nav-btns {
      .owl-carousel {
        .owl-stage-outer {
          z-index: 1;
        }

        .owl-stage {
          min-width: 550px;
          .owl-item {
            width: auto !important;

            @media (max-width: 768px) {
              .tab-btn {
                min-width: 1px !important;
              }
            }
            @media (max-width: 660px) {
              .tab-btn {
                height: 35px !important;
              }
            }
            .tab-btn {
              min-width: 70px;
              width: fit-content;
              border: none;
              height: 35px;
              margin: auto;
              background: transparent;
              color: white;
              cursor: pointer;

              &.active {
                background: #191c22;
                box-shadow: 1px 1px 2px rgb(38 42 51 / 30%), -1px -1px 2px rgb(12 14 17 / 50%),
                  inset -3px 3px 6px rgb(12 14 17 / 20%), inset 3px -3px 6px rgb(12 14 17 / 20%),
                  inset -3px -3px 6px rgb(38 42 51 / 90%), inset 3px 3px 8px rgb(12 14 17 / 90%);
                color: #22b455;
              }
            }
          }
        }

        .owl-nav {
          position: absolute;
          top: 0;
          margin: 0;
          width: 100%;
          height: min(max(30px, 6vw), 35px);
          display: flex;
          justify-content: space-between;
          align-items: center;
          z-index: 0;

          .owl-prev,
          .owl-next {
            position: relative;
            width: 12px;
            height: 12px;
            margin: 0;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            background-color: transparent;
            color: #23b054;
          }

          .owl-prev {
            left: -24px;
            background-image: url(/assets/images/less.svg);
          }

          .owl-next {
            right: -24px;
            background-image: url(/assets/images/greater.svg);
          }
        }
      }
    }
  }
  .inner-content {
    h1 {
      p {
        display: inline-block;
        background: none;
        color: #1abf53;
      }
    }
    h3 {
      margin-top: 8px !important;
      font-weight: 500;
      font-size: 12px;
      color: #b7c1bb;
    }
  }

  @media (min-width: 576px) {
    &.modal-dialog {
      max-width: 750px;
      margin: 1.75rem auto;
    }
  }
  @media (max-width: 750px) {
    .inner-body {
      .header {
        .heder-bg {
          width: 250px;
          h4 {
            font-size: 18px;
            padding-top: 19px;
          }
        }
        width: 226px;
        .profile-modal {
          .media {
            img {
              width: 30px;
              height: 30px;
              margin-right: 5px;
            }
            p {
              font-size: 10px;
            }
            h5 {
              font-size: 14px;
            }
          }
        }
      }
    }
    .modal-content {
      padding: 10px;
    }
  }
}

.sidebar-title {
  flex: 1;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  color: #418157;
  padding: 0px 16px;
}

.sidebar-title.active {
  color: #22b455;
}

@media (max-width: 500px) {
  .carousel-links {
    padding: 10px 20px !important;
    width: 100% !important;
  }
}

input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
